<div class="flash">
    <% if(error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
    <% } %>
    <% if(success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
        <%= success %>
    </div>
    <% } %>
</div>
<h1>Mačja hiša CMS</h1>
<h3>Pozabljeno geslo</h3>
<p>Navodila za ponastavitev gesla bodo poslana na vpisani e-mail naslov.</p>
<form action="/admin/forgot" method="POST">
  <div class="required">
      <label for="email">E-mail naslov:</label>
     <input type="email" name="email" autofocus required>
  </div>
  <div>
     <button>Pošlji</button>
  </div>
</form>
