<div class="flash">
    <% if(error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
    <% } %>
    <% if(success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
        <%= success %>
    </div>
    <% } %>
</div>
<h1>Mačja hiša CMS</h1>
<h3>Prijava</h3>
<form action="/admin/login" method="POST">
  <div>
     <input type="text" name="username" placeholder="uporabniško ime">
  </div>
  <div>
     <input type="password" name="password" placeholder="geslo">
  </div>
  <div>
     <button>Prijava</button>
  </div>
</form>
