<div class="flash">
    <% if(error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
    <% } %>
    <% if(success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
        <%= success %>
    </div>
    <% } %>
</div>
<h1>Mačja hiša CMS</h1>
<h3>Ponastavitev gesla</h3>
<form action="/admin/reset/<%= token %>" method="POST">
  <div>
     <label for="password">Novo geslo:</label>
     <input type="password" name="password" autofocus required>
  </div>
  <div>
     <label for="confirm">Potrdi novo geslo:</label>
     <input type="password" name="confirm" autofocus required>
  </div>
  <div>
     <button>Potrdi</button>
  </div>
</form>
