<!--Start partials/content-hero-->
<div class="with-bootstrap">
  <div class="content-hero bg-cover shadow d-flex align-items-end" style="background-image: url('/files/page/head3.jpg')">
    <div class="container">
      <h1 class="text-white text-shadow my-2">
        <strong><%= podstran.naslov %></strong>
      </h1>
    </div>
  </div>
</div>
<!--End partials/content-hero-->