</div>
<div class="footer">
  <div class="container">
    <div class="footer_nav">
      <h3>Hitre povezave</h3>
      <ul class="footer_nav_list">
        <li><a href="#">Muce za posvojitev</a></li>
        <li><a href="#">Projekt Vita</a></li>
        <li><a href="#">Izobraževanje</a></li>
        <li><a href="#">Veterina MH</a></li>
        <li><a href="#">Mačkam prijazna klinika</a></li>
        <li><a href="#">Posvojitev na daljavo</a></li>
        <li><a href="#">Trgovina Super Čombe</a></li>
      </ul>
    </div>
    <div class="footer_contact">
      <h3>Kontakt</h3>
      <p>Zavod Mačja hiša</p>
      <p>Groharjeva ulica 8, 3000 Celje</p>
      <p><a href="mailto:info@macjahisa.si"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@macjahisa.si</a></p>
      <p><a href="tel:040 937 959"><i class="fa fa-phone" aria-hidden="true"></i> 040 937 959</a></p>
    </div>
    <div class="footer_links">
      <div class="social">
        <a href="https://twitter.com/MacjaHisa" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a href="http://www.youtube.com/channel/UC_Gq4voyvfoOCafJMNY0oHg" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
        <a href="http://instagram.com/macjahisa" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://plus.google.com/+macjahisa" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
      </div>
      <div class="fb_link">
        <div class="fb-page" data-href="https://www.facebook.com/MacjaHisa/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/MacjaHisa/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/MacjaHisa/">Mačja hiša</a></blockquote></div>
      </div>
    </div>
  </div>
</div>
<div class="signature">
  <div class="container">
    <div>Zavod Mačja hiša © 2018. Vse pravice pridržane.</div>
    <div>Izdelava in oblikovanje strani: <a href="mailto:jan.hacin@gmail.com">Jan Hacin</a></div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <script
  src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
  integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/stellarnav.min.js"></script>
<script src="/js/jquery.pajinate.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
