<div class="page_header">
  <div class="container">
    <h1 class="content_heading"><%= podstran.naslov %></h1>
  </div>
</div>
  <div class="nonindex">
  <div class="header_mobile">
    <h1 class="content_heading"><%= podstran.naslov %></h1>
  </div>
    <div class="container">
      <div class="content">
