    <div class="sidebar">
      <div class="side_news">
        <div class="side_header">Novice</div>
        <div class="side_news_list">
          <div class="side_news_item">
            <h3>Novica #1</h3>
            <p>Wack the mini furry mouse step on your keyboard while you're gaming and then turn in a circle or scamper yet hiding behind the couch until lured out by a feathery toy.</p>
          </div>
          <div class="side_news_item">
            <h3>Novica #2</h3>
            <p>Need to chase tail attempt to leap between furniture but woefully miscalibrate and bellyflop onto the floor; what's your problem?</p>
          </div>
          <div class="side_news_item">
            <h3>Novica #3</h3>
              <p>Sleep on dog bed, force dog to sleep on floor furrier and even more furrier hairball sleep on dog bed, force dog to sleep on floor and destroy couch howl on top of tall thing or adventure always.</p>
            </div>
          <div class="side_news_item">
            <h3>Novica #4</h3>
              <p>Sleep nap swat at dog. Immediately regret falling into bathtub yowling nonstop the whole night.</p>
            </div>
        </div>
        <div class="side_more">
          <div class="side_btn">Vse novice <i class="fa fa-caret-right" aria-hidden="true"></i></div>
        </div>
      </div>
      <div class="side_cats">
        <div class="side_header">Iščejo dom</div>
        <div class="side_cats_list">
          <div class="side_cat">
            <img src="/images/catsm1.jpg" />
            <h5>Muca #1</h5>
          </div>
          <div class="side_cat">
            <img src="/images/catsm2.jpg" />
            <h5>Muca #2</h5>
          </div>
          <div class="side_cat">
            <img src="/images/catsm3.jpg" />
            <h5>Muca #3</h5>
          </div>
        </div>
        <div class="side_more">
          <div class="side_btn">Vse muce <i class="fa fa-caret-right" aria-hidden="true"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
