    </div>
    <div class="sidebar">
      <div class="side_news">
        <div class="side_header">Novice</div>
        <div class="side_news_list">
          <% sidebar_novice.forEach(function(sidebar_novica) { %>
            <div class="side_news_item">
              <h3><a href="/novice/<%= sidebar_novica._id %>"><%= sidebar_novica.naslov %></a></h3>
              <p><%- sidebar_novica.vsebina.replace(/<(?:.|\n)*?>/gm, '').substring(0,200) + "..." %>
                <a href="/novice/<%= sidebar_novica._id %>">
                  <i class="fa fa-forward" aria-hidden="true"></i>
                </a>
              </p>
            </div>
          <% }) %>
        </div>
        <div class="side_more">
          <div class="side_btn"><a href="/novice">Vse novice <i class="fa fa-caret-right" aria-hidden="true"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
