<% include ../partials/header %>
<% include ../partials/nonindex %>

<div class="with-bootstrap">
    <div class="container">
        <div class="row content-wrapper pt-5">
            <div class="content-body col-12 col-lg-8 pb-5">
                <%- podstran.vsebina %>
            </div>
            <div class="col-12 col-lg-4 pb-5">
                <% include ../partials/sidebar %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
