<% include ../partials/header %>
<% include ../partials/content-hero %>

<div class="with-bootstrap">
    <div class="container">
        <div class="row content-wrapper py-4 py-md-5">
            <div class="content-body col-12 col-lg-8">
                <%- podstran.vsebina %>
            </div>
            <div class="col-12 col-lg-4">
                <% include ../partials/sidebar %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
