<% include ../../partials/admin/header %>
<a class="p-2 badge badge-info backToIndex" href="/admin/naslovnice"><i class="fas fa-arrow-left"></i> Nazaj</a>
<div class="header-addOrEdit d-flex flex-row justify-content-between align-items-center">
  <h1 class="p-2 badge badge-warning">Nova naslovnica</h1>
</div>
<hr class="header-divider" />

<form action="/admin/naslovnice" method="POST" enctype="multipart/form-data">
  <div class="required form-group">
    <label for="naslovnica[ozadje]">Ozadje:</label>
    <input class="form-control-file" type="file" accept="image/*" name="naslovnica[ozadje]" id="ozadje" size="70" required/>
    <small class="form-text text-muted"><strong>Opomba: </strong> pred nalaganjem slike jo skompresiraj v spletnem orodju <a style="color: orange; font-weight: bold;" href="https://tinypng.com/" target="_blank">TinyPNG</a>.</small>
  </div>
  <div class="required form-group">
    <label for="naslovnica[naslov]">Naslov:</label>
    <input class="form-control" type="text" name="naslovnica[naslov]" id="naslov" size="70" autofocus required/>
  </div>
  <div class="required form-group">
    <label for="naslovnica[podnaslov]">Podnaslov:</label>
    <input class="form-control" type="text" name="naslovnica[podnaslov]" id="podnaslov" size="70"/>
  </div>
  <div class="required form-group">
    <label for="naslovnica[napisNaGumbu]">Napis na gumbu:</label>
    <input class="form-control" type="text" name="naslovnica[napisNaGumbu]" id="napisNaGumbu" size="70" required/>
  </div>
  <div class="required form-group">
    <label for="naslovnica[povezava]">Povezava:</label>
    <input class="form-control" type="url" name="naslovnica[povezava]" id="povezava" size="70" required/>
    <input type="checkbox" name="externalURL">
    <label class="form-check-label" for="externalURL">
      Povezava na zunanjo stran (obkljukaj, če želiš, da se odpre v novem zavihku)
    </label>
  </div>
  <div class="naslovnicaRange form-group">
    <label for="naslovnicaRangeInput">Izrez ozadja po višini (% od vrha):</label>
    <input class="form-control" type="range" name="rangeInput" id="naslovnicaRangeInput" min="0" max="100" >
    <span id="naslovnicaRangeValue">50%</span>
  </div>
  <input type="submit" class="btn btn-secondary" value="Dodaj">
</form>
<hr />
<button class="btn btn-warning" id="naslovnicaPreviewLoadButton"><i class="far fa-eye"></i> Pokaži predogled</button>
<button class="btn btn-info" id="naslovnicaPreviewReloadButton"> <i class="fas fa-sync"></i> Osveži predogled</button>
<p></p>
<div id="naslovnicaPreview">
  <div class="i_jumbo">
    <div id="naslovnica">
      <div class="i_jumbo_text">
        <h1 class="i_jumbo_title"></h1>
        <h2 class="i_jumbo_subtitle"></h2>
        <a class="jumbo_povezava" href="" target="_blank"><button class="i_jumbo_button"></button></a>
      </div>
    </div>
  </div>
</div>
<% include ../../partials/admin/footer %>
