<% include ../../partials/admin/header %>
<p><a href="/admin/naslovnice"><< Nazaj</a></p>
<h3>Nova naslovnica</h3>

<form action="/admin/naslovnice" method="POST" enctype="multipart/form-data">
  <div>
    <label for="naslovnica[ozadje]">Ozadje:</label>
    <input type="file" name="naslovnica[ozadje]" id="ozadje" size="70" required/>
    <strong>Opomba: </strong> pred nalaganjem slike jo skompresiraj v spletnem orodju <a style="color: orange; font-weight: bold;" href="https://tinypng.com/" target="_blank">TinyPNG</a>. <strong>Ime slike naj ne vsebuje simbolov (%, /, (, ), itd.)</strong>
  </div>
  <div>
    <label for="naslovnica[naslov]">Naslov:</label>
    <input type="text" name="naslovnica[naslov]" id="naslov" size="70" autofocus required/>
  </div>
  <div>
    <label for="naslovnica[podnaslov]">Podnaslov:</label>
    <input type="text" name="naslovnica[podnaslov]" id="podnaslov" size="70"/>
  </div>
  <div>
    <label for="naslovnica[napisNaGumbu]">Napis na gumbu:</label>
    <input type="text" name="naslovnica[napisNaGumbu]" id="napisNaGumbu" size="70" required/>
  </div>
  <div>
    <label for="naslovnica[povezava]">Povezava:</label>
    <input type="text" name="naslovnica[povezava]" id="povezava" size="70" required/>
  </div>  
  <input type="submit" class="btn btn-success" value="Dodaj">
</form>
<button class="btn btn-warning" id="naslovnicaPreviewLoadButton"><i class="far fa-eye"></i> Pokaži predogled</button>
<button class="btn btn-info" id="naslovnicaPreviewReloadButton"> <i class="fa fa-sync"></i> Osveži predogled</button>
<p></p>
<div id="naslovnicaPreview">
  <div class="i_jumbo">
    <div id="naslovnica">
      <div class="i_jumbo_text">
        <h1 class="i_jumbo_title"></h1>
        <h2 class="i_jumbo_subtitle"></h2>
        <a class="jumbo_povezava" href="" target="_blank"><button class="i_jumbo_button"></button></a>
      </div>
    </div>
  </div>
</div>
<% include ../../partials/admin/footer %>
