<% include ./partials/header %>

      <div class="index_news">
        <div class="container">
          <div class="index_heading">
            <h2>Novice</h2>
            <hr />
          </div>
          <div class="news_reel">
            <div class="news_item">
              <h3>Novica #1</h3>
              <img src="/images/stock1.jpg" />
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="news_item">
              <h3>Novica #2</h3>
              <img src="/images/stock3.jpg" />
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="news_item">
              <h3>Novica #3</h3>
              <img src="/images/stock4.jpg" />
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
          </div>
          <div class="index_more">
            <button class="index_btn"><a href="/novice">Vse novice <i class="fa fa-caret-right" aria-hidden="true"></i></a></button>
          </div>
        </div>
      </div>
      <div class="index_cats">
        <div class="container">
          <div class="index_heading">
            <h2>Muce, ki iščejo dom</h2>
            <hr />
          </div>
          <div class="cat_reel">
            <div class="index_cat">
              <h3>Muca #1</h3>
              <img src="/images/stock_cat_1.jpg" />
            </div>
            <div class="index_cat">
              <h3>Muca #2</h3>
              <img src="/images/stock_cat_2.jpg" />
            </div>
            <div class="index_cat">
              <h3>Muca #3</h3>
              <img src="/images/stock_cat_3.jpg" />
            </div>
            <div class="index_cat">
              <h3>Muca #4</h3>
              <img src="/images/stock_cat_4.jpg" />
            </div>
            <div class="index_cat">
              <h3>Muca #5</h3>
              <img src="/images/stock_cat_5.jpg" />
            </div>
          </div>
          <div class="index_more">
            <button class="index_btn">Vse muce <i class="fa fa-caret-right" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
      <div class="index_help">
        <div class="container">
          <div class="index_heading">
            <h2>Podprite nas</h2>
            <hr />
          </div>
          <div class="help_reel">
            <div class="help_item">
              <h3>Oblika pomoči #1</h3>
              <img src="/images/help1.jpg" />
              <p>Sleep in the bathroom sink annoy kitten brother with poking jump off balcony, onto stranger's head but slap owner's face at 5am until human fills food dish.</p>
            </div>
            <div class="help_item">
              <h3>Oblika pomoči #2</h3>
              <img src="/images/help2.jpg" />
              <p>Meow meow, i tell my human hide at bottom of staircase to trip human or stare at the wall, play with food and get confused by dust for kitty ipsum dolor sit amet.</p>
            </div>
            <div class="help_item">
              <h3>Oblika pomoči #3</h3>
              <img src="/images/help3.jpg" />
              <p>Wake up wander around the house making large amounts of noise jump on top of your human's bed and fall asleep again eats owners hair then claws head, or meow all night.</p>
            </div>
            <div class="help_item">
              <h3>Oblika pomoči #4</h3>
              <img src="/images/help4.jpg" />
              <p>Unwrap toilet paper pose purrfectly to show my beauty destroy the blinds scratch me there, elevator butt knock dish off table.</p>
            </div>
          </div>
          <div class="index_more">
            <button class="index_btn">Vse oblike pomoči <i class="fa fa-caret-right" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
      </div>

<% include ./partials/footer %>
