<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/images/favicon.ico">
    <title><%= title %></title>

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/flex_sm.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Montserrat:400,600,700&amp;subset=latin-ext" rel="stylesheet">
  </head>
  <body>
    <div class="mobile_header">
      <div class="mobile_logo">
        <img src="/images/logo_mobile.jpg" />
      </div>
      <div class="mobile_top_contact">
        <a href="mailto:info@macjahisa.si"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@macjahisa.si</a>
        <a href="tel:040937959"><i class="fa fa-phone" aria-hidden="true"></i> 040 937 959</a>
      </div>
      <div class="mobile_nav">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
    </div>
    <div class="top_bar">
      <div class="container">
        <div class="top_bar_contact">
          <a href="mailto:info@macjahisa.si"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@macjahisa.si</a>
          <a href="tel:040937959"><i class="fa fa-phone" aria-hidden="true"></i> 040 937 959</a>
        </div>
        <div class="top_bar_social">
          <a href="http://www.macjiboter.si/" target="_blank">Mačji boter</a> |
          <a href="http://www.supercombe.si/" target="_blank">Super Čombe</a> |
          <a href="http://www.macjahisa-vet.si/" target="_blank">Veterina MH</a>
          <a href="https://www.facebook.com/MacjaHisa" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
          <a href="https://twitter.com/MacjaHisa" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
          <a href="http://www.youtube.com/channel/UC_Gq4voyvfoOCafJMNY0oHg" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
          <a href="http://instagram.com/macjahisa" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="https://plus.google.com/+macjahisa" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="jumbo">
      <div class="container">
        <div class="jumbo_logo"><img src="/images/logo.png" /></div>
        <div class="jumbo_links">
          <div class="jumbo_button">Dohodnina <i class="fa fa-caret-right" aria-hidden="true"></i></div>
          <div class="jumbo_button">Posvojitev <i class="fa fa-caret-right" aria-hidden="true"></i></div>
          <div class="jumbo_button">Donacije <i class="fa fa-caret-right" aria-hidden="true"></i></div>
          <div class="jumbo_button">PayPal donacije <i class="fa fa-caret-right" aria-hidden="true"></i></div>
        </div>
      </div>
    </div>
    <div class="nav">
      <div class="container">
        <div class="nav_div">
          <ul class="nav_list">
            <li class="nav_category"><a href="#">O nas <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
            <li class="nav_category"><a href="#">Posvojitev <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
            <li class="nav_category"><a href="#">V novem domu</a></li>
            <li class="nav_category"><a href="#">Dobro je vedeti <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
            <li class="nav_category"><a href="#">Vaša pomoč <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
            <li class="nav_category"><a href="#">Projekt Vita</a></li>
          </ul>
        </div>
        <div class="search">
          <form>
            <input type="text" placeholder="Išči..." /> <i class="fa fa-search" aria-hidden="true"></i>
          </form>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="index_news">
        <div class="container">
          <div class="index_heading">
            <h2>Novice</h2>
            <hr />
          </div>
          <div class="news_reel">
            <div class="news_item">
              <h3>Novica #1</h3>
              <img src="/images/stock1.jpg" />
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="news_item">
              <h3>Novica #2</h3>
              <img src="/images/stock3.jpg" />
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="news_item">
              <h3>Novica #3</h3>
              <img src="/images/stock4.jpg" />
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
          </div>
          <div class="index_more">
            <button class="index_btn">Vse novice <i class="fa fa-caret-right" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
      <div class="index_cats">
        <div class="container">
          <div class="index_heading">
            <h2>Muce, ki iščejo dom</h2>
            <hr />
          </div>
          <div class="cat_reel">
            <div class="index_cat">
              <h3>Muca #1</h3>
              <img src="/images/stock_cat_1.jpg" />
            </div>
            <div class="index_cat">
              <h3>Muca #2</h3>
              <img src="/images/stock_cat_2.jpg" />
            </div>
            <div class="index_cat">
              <h3>Muca #3</h3>
              <img src="/images/stock_cat_3.jpg" />
            </div>
            <div class="index_cat">
              <h3>Muca #4</h3>
              <img src="/images/stock_cat_4.jpg" />
            </div>
            <div class="index_cat">
              <h3>Muca #5</h3>
              <img src="/images/stock_cat_5.jpg" />
            </div>
          </div>
          <div class="index_more">
            <button class="index_btn">Vse muce <i class="fa fa-caret-right" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
      <div class="index_help">
        <div class="container">
          <div class="index_heading">
            <h2>Podprite nas</h2>
            <hr />
          </div>
          <div class="help_reel">
            <div class="help_item">
              <h3>Oblika pomoči #1</h3>
              <img src="/images/help1.jpg" />
              <p>Sleep in the bathroom sink annoy kitten brother with poking jump off balcony, onto stranger's head but slap owner's face at 5am until human fills food dish.</p>
            </div>
            <div class="help_item">
              <h3>Oblika pomoči #2</h3>
              <img src="/images/help2.jpg" />
              <p>Meow meow, i tell my human hide at bottom of staircase to trip human or stare at the wall, play with food and get confused by dust for kitty ipsum dolor sit amet.</p>
            </div>
            <div class="help_item">
              <h3>Oblika pomoči #3</h3>
              <img src="/images/help3.jpg" />
              <p>Wake up wander around the house making large amounts of noise jump on top of your human's bed and fall asleep again eats owners hair then claws head, or meow all night.</p>
            </div>
            <div class="help_item">
              <h3>Oblika pomoči #4</h3>
              <img src="/images/help4.jpg" />
              <p>Unwrap toilet paper pose purrfectly to show my beauty destroy the blinds scratch me there, elevator butt knock dish off table.</p>
            </div>
          </div>
          <div class="index_more">
            <button class="index_btn">Vse oblike pomoči <i class="fa fa-caret-right" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="footer_nav">
          <h3>Hitre povezave</h3>
          <ul class="footer_nav_list">
            <li><a href="#">Muce za posvojitev</a></li>
            <li><a href="#">Projekt Vita</a></li>
            <li><a href="#">Izobraževanje</a></li>
            <li><a href="#">Veterina MH</a></li>
            <li><a href="#">Mačkam prijazna klinika</a></li>
            <li><a href="#">Posvojitev na daljavo</a></li>
            <li><a href="#">Trgovina Super Čombe</a></li>
          </ul>
        </div>
        <div class="footer_contact">
          <h3>Kontakt</h3>
          <p>Zavod Mačja hiša</p>
          <p>Groharjeva ulica 8, 3000 Celje</p>
          <p><a href="mailto:info@macjahisa.si"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@macjahisa.si</a></p>
          <p><a href="tel:040 937 959"><i class="fa fa-phone" aria-hidden="true"></i> 040 937 959</a></p>
        </div>
        <div class="footer_links">
          <div class="social">
            <a href="https://twitter.com/MacjaHisa" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <a href="http://www.youtube.com/channel/UC_Gq4voyvfoOCafJMNY0oHg" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
            <a href="http://instagram.com/macjahisa" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://plus.google.com/+macjahisa" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
          </div>
          <div class="fb_link">
            Facebook
          </div>
        </div>
      </div>
    </div>
    <div class="signature">
      <div class="container">
        <div>Zavod Mačja hiša © 2018. Vse pravice pridržane.</div>
        <div>Izdelava in oblikovanje strani: <a href="mailto:jan.hacin@gmail.com">Jan Hacin</a></div>
      </div>
    </div>
  </body>
</html>
