@media all and (max-width: 768px) {

  #v_novem_domu_container > .content > li {
    width: 100%;
  }

  .content ul {
    padding-left: 1.6em;
  }

  .content ul li {
    font-size: 14px;
    line-height: 24px;

  }

  .content p {
    margin: 0 0 1.2em 0;
    line-height: 20px;
    text-align: justify;
    font-size: 15px;
    font-weight: 500;
}

.jplist-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.jplist-panel .jplist-pagination {
    margin-bottom: 1rem;
}

.muca {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.muca_infoandmore {
  width: 100%;
}

.muca_infoandmore p {
  text-align: center;
  margin: 0.5rem 0;
}

.muce_seznam > .list {
  flex-direction: column;
  align-items: center;
}

.muce_filtri {
  flex-direction: column;
  align-items: center;
}

.jplist-panel .text-filter-box,
.jplist-panel .jplist-group,
.muce_seznam .jplist-label {
  margin: 7.5px auto;
}

.starost_filter {
  display: none;
}

.muca_img {
  height: 260px;
  width: 100%;
}

.v_novem_domu_muca .muca_img {
  height: 320px;
}

.jplist-panel .text-filter-box {
  margin-bottom: 15px;
}

.muce_seznam .jplist-label {
  margin-right: auto;
}

.muca_ime {
  width: calc(100% - 1.3rem);
}

.sidebar {
  width: 90%;
}

.side_cat {
  height: 230px;
}

.side_cat h5 a {
  font-size: 34px;
}

.sidebar_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sidebar_img img {
  width: 100%;
}

.content h3 {
    font-size: 22px;
    text-align: center;
    margin: 1.5em 0;
    padding: 0 0.5em;
}

  .content h3:first-of-type {
    margin-top: 0;
  }


  .nonindex {
    flex-direction: column;
    padding-top: 0;
  }

  .nonindex > .container {
    width: 100%;
    padding-top: 1.5rem;
  }

  .page_header {
    height: 260px;
    border-bottom: none;

  }

  .header_mobile {
    display: block;
    text-align: center;
    border-bottom: 4px solid #ffcb00;
    padding: 1.5rem;
    background-color: #515151;
    border-top: 3px solid #545454ba;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23787878' fill-opacity='0.28'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

    .header_mobile h1 {
      font-family: 'Roboto Slab', serif;
      color: #fff;
      font-size: 26px;
      font-weight: 700;
      letter-spacing: 1px;
      margin: 0;

    }

  .page_header h1 {
    /* font-size: 45px;
    font-weight: 700; */
    display: none;
  }

  /* MENU */
  .navbar {
    height: 75px;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .nav_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 85px;
    padding: 0;
    margin: 0;
  }

  .navbar > .logo {
    margin: 0;
    order: 1;
    border-right: none;
    height: 65px;
  }

    .navbar .logo img {
      height: 65px;
    }

  .stellarnav > ul > li:nth-of-type(n+4),
  .stellarnav > ul > .nav_search_mobile {
    display: flex;
    flex-direction: row;
    padding-right: 50px;
  }

  .stellarnav.mobile.left>ul {
    min-height: 100vh;
    padding-bottom: 100px;
  }

  .stellarnav > ul > li:nth-of-type(n+4) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

    .stellarnav > ul > li:nth-of-type(7) {
      border-bottom: none;

    }

  .stellarnav > ul > .nav_search_mobile {
    padding: 20px 0 20px 0!important;
    border-bottom: none!important;
  }

  .menu_secondary,
  .nav_search {
    display: none;
  }

  .nav_menu {
    justify-content: flex-start;
    height: 85px;
    order: 3;
    margin-right: 0;
  }

  .nav_donate {
    width: 100%;
    order: 2;
    position: relative;
    padding: 0;
    height: 75px;
  }

    .nav_donate > form {
      width: 100%;
      position: relative;
      top: 0;
      right: 0;
    }

      .nav_donate > form > button {
        border: none;
        height: 75px;
        width: 100%;
        padding: 0;
        border-radius: 0;
        font-size: 30px;
        font-weight: 700;
        position: relative;
      }

/* END MENU */

/* INDEX PAGE */


.i_jumbo > div,
.i_jumbo_1,
.i_jumbo_2 {
  height: calc(70vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.i_jumbo_title {
  font-size: 50px;
  text-align: center;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.i_jumbo_subtitle {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.i_jumbo_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
  height: 100%;
}

  .i_jumbo_button {
    font-size: 18px;
  }

  .i_jumbo .slick-dots {
    bottom: 5%;
  }

.i_dohodnina {
  padding-left: 2em;
  padding-right: 2em;
}

.i_dohodnina p,
.i_edu p,
.i_boter_txt {
  font-size: 16px;
}

.i_dohodnina > button, .i_donate > button, .i_boter > button {
  font-size: 16px;
  padding: 10px 25px;
}

#mc_embed_signup {
  width: 90%;
}

#mc_embed_signup form {
    width: 90%;
}

#mc_embed_signup input.email {
  width: 100%;
}

.i_muce {
  padding-top: 40px;
}

  .i_muca {
    margin-bottom: 20px;
    width: 80%;
    max-width: 90%;
  }

    .i_muca_txt {
      width: 100%;

      padding: 10px 0;
    }

    .i_muca_img {
      width: 100%;
      min-height: 380px;

    }

.i_mailing {
  padding-bottom: 40px;
}

.i_help {
  padding: 40px 0 20px 0;
}

.i_help h1 {
  text-align: center;
  font-size: 34px;
  margin-bottom: 0.9em;
}

.help_reel {
  flex-direction: column;
  align-items: center;
}

.help_item {
  margin: 0 0 40px 0;
  margin-bottom: 40px;
  background-color: rgba(140, 140, 140, 0.9);
  width: 70%;
}

.i_edu {
  padding: 40px 1em;
}

.i_edu_img {
  margin: 0 0 20px 0;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: 90%;
}

  .i_edu h1 {
    text-align: center;
  }

  .i_edu_img img {
    height: auto;
    max-width: 43%;
    margin: 0;
  }

  .i_edu p {
    text-align: center;
  }

.i_donate {
  padding: 40px 20px;
}

.i_donate h2 {
  text-align: center;
  margin-top: 0;
  font-size: 24px;
}

.i_donate > button {
  margin-top: 5px;
}

.i_boter {
  padding: 40px 0;
}

.i_boter_txt {
  width: 90%;
}

/* .social_buttons {
  justify-content: center;
}

  .social_buttons i {
    margin: 0 15px;
  } */

/* .i_footer {
  padding: 40px 0;
}

.i_footer > .container {
  flex-direction: column;
  align-items: center;
}

  .i_footer > .container > div {
    width: 90%;
    text-align: center;
  } */

.i_signature > .container {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.i_signature {
  height: auto;
  line-height: 20px;
  padding: 15px 5px;
}

.signature_divider {
  margin: 0 3px;
}

 .signature_divider {
  display: none;
}

/* END INDEX PAGE */


  /* body {
    display: flex;
    flex-direction: column;
  }

  .content ul {
    padding-left: 24px;
  }

  body > div > .container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .main > div > .container  {
    padding: 20px 15px 37px 15px;
    max-width: 100%;
    margin: 0 auto;
  }

  .photos img {
    width: 100%;
    height:
  }

  .desc .contact h3 {
    text-align: center;
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0px;
}

  .nav {
    order: 1;
    position: fixed;
    top:0;
    transition: all 0.4s ease;
    height: 65px;
    width: 100%;
    border: none;

  }

  .side_cat {
    height: 230px;
  }

    .side_cat img {
      max-width: calc(100% * 1.3);
    }

  .jumbo {
    order: 2;
  }

  .main {
    order: 3;
  }

  .related_links {
    order: 4;
  }

  .related_links > .container {
    padding: 0 0 2.5em 0;
  }

    .related_div {
      width: 85%;
      padding-top: 2.5em;
    }

    .related_div img {
      max-width: 100px;
      max-height: auto;
      margin-bottom: 0.7em;
    }

      .related_div img:last-of-type {
        margin-bottom: 0em;
      }

  .footer_nav {
    padding-bottom: 0;
  }

  .footer {
    order: 5;
  }

    .footer h3 {
      margin-bottom: 0.3em;
    }

    .footer_nav_list {
      margin-top: 0;
    }

  .signature {
    order: 6;
  }

  .index_heading {
    margin-bottom: 15px;
  }

  .mobile_logo,
  .mobile_top_contact {
   display: block;
  }


  .mobile_logo {
    width: 20%;
  }

    .mobile_logo img {
      height: 42px;
    }

  .mobile_top_contact {
    width: 40%;
  }

  .nav > .container {
    padding: 5px 0;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }

  .stellarnav {
    width: 20%!important;
  }

  .mobile_top_contact a {
    font-size: 0.9em;
    color: #343a40;
    margin: 3px 0;
  }

    .mobile_top_contact a i {
      color: #e18a07;
      margin-right: 3px;
    }

  .stellarnav .fa-bars {
    font-size: 1.8em;
    font-weight: 400;
    vertical-align: middle;
    color: #343a40;

  }

  .top_bar,
  .nav_div,
  .jumbo_logo {
    display: none;
  }



  .jumbo {
    padding: 0;
    background-image: url(/files/page/header_bg.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    margin-top: 65px;
  }

  .jumbo > .container {
    justify-content: center;
  }



  .jumbo_links {
    flex-direction: column;
    width: 80%;
  }

  .jumbo_links_index .jumbo_links_row {
    flex-direction: column;
  }

  .jumbo_button {
    width: 65%;
    align-self: center;
  }

  .jumbo_button_index {
    max-width: 260px;
  }


  .search {
    width: 100%;
  }

  .search input[type=text] {
    padding: 7px;
    margin: 15px 0;
    width: 65%;
    text-align: center;
  }

  .news_reel,
  .cat_reel,
  .help_reel {
    flex-direction: column;
  }

  .news_item,
  .index_cat,
  .help_item {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .nonindex > .container {
    flex-direction: column;
    align-items: center;
  }

  .content,
  .sidebar {
    width: 95%;
  }

    .side_header {
      text-align: center;
    }

    .side_news_item h3 {
      text-align: center;
    }

    .side_news_item p {
      text-align: center;
    }

  .content {
    margin: 0;
  }

    .content h1 {
      text-align: center;
    }

    .content h1 {
      margin-bottom: 0.4em;
      font-size: 1.8em;
      font-weight: 500;
    }

    .content_title_subhr {
      width: 170px;
      border: 0;
      height: 2px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(229, 148, 0, 0.5), rgba(0, 0, 0, 0));
      margin: 0 auto 1.8em auto;
    }

    .content p {
      margin: 0 0 0.8em 0;
    }

    .content img {
      margin-bottom: 1em;
      max-width: 100%;
      height: auto;
    }

    .content p img {
      margin: 0;
    }

  .muce_filter {
    flex-direction: column;
  }

  .muce_filter_group,
  .muce_filter_group:last-of-type {
    width: 100%;
    text-align: center;
    margin: 8px 0;
  }

  .muce_filter input[type=text] {
    width: 60%;
    text-align: center;
  }

  .footer > .container > div {
    width: 100%;
    text-align: center;
    padding: 0;
  }



  .footer_links {
    margin-top: 17px;
    margin-bottom: 16px;
  }

  .signature {
    padding: 10px 0;
    height: 50px;
    line-height: 25px;
    font-size: 0.75em;
  }

  .signature > .container {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  /* MUCE */
  /* .main > .nonindex > .container_full {
    padding: 20px 15px 37px 15px;
    max-width: 100%;
  }

  .footer > .container > .footer_contact {
    padding-bottom: 15px;
  }


  .muce_seznam {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

    .muce_seznam .list .muca {
      width: 100%;
      text-align: center;
      margin-top: 0.5em;
    }


    .muce_seznam .list .muca_img {
      width: 100%;
      height: 280px;
    }

    .muce_seznam .list .muca_img a img {

      max-width: 120%;
      margin: auto;
    }



  .muce_filter {
    border: none;
    background: #f8f8f8;
  }

  .photos,
  .data,
  .desc {
    width: 100%;
  }

  .data {
    margin-top: 20px;
    margin-bottom: 0.55em;
  }

  .photos {
    order: 1;
  }

  .data {
    order: 2;
  }

  .desc {
    order: 3;
  }

  .data_header h3 {
    text-align: center;
  }

  #muca_name {
    text-align: center;
  }

  #name_hr {
    margin: 0.5em auto;
    margin-bottom: 1.5em;
    background-image: linear-gradient(to right, rgba(229, 148, 0, 0), rgba(229, 148, 0, 0.8), rgba(0,0, 0, 0));
    width: 270px;
  }

  #muce_back {
    text-align: center;
  }

  .content .muce_back {
    text-align: center;
}

  .photos {
    width: 100%;
    padding: 0 25px;
  }

  .desc {
    margin-top: 10px;
    padding-right: 0;
  }

  .cat_full h2 {
    padding-left: 0;
  }

  .slick-prev {
    left: -5px;
  }

  .slick-dots {

    position: static;
  }

  .slick-next {
    right: -5px;
  }

  .desc h2 {
    text-align: center;
  }

  .desc > .contact p {
    text-align: center;
  }

  .desc > .boter_true {
    text-align: center;
    margin-bottom: 20px;
  }

  #v_novem_domu_container > .content > li {
   width: 100%;
  }

  .paginator {
    margin: 0 0 1.7em 0;
    justify-content: center;
  }

  .v_novem_domu_muca {
    flex-direction: column;
    align-items: center;
  }

  .v_novem_domu_muca > .muca_info {
    padding: 0.5em 0;
    text-align: center;
  }

  .v_novem_domu_muca .muca_img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    border: 1px solid rgba(0,0,0,0.2);
  }

  .v_novem_domu_muca .muca_img img {
    min-height: 100%;
    min-width: 100%;
    max-width: 130%;
  }


  .v_novem_domu_muca .muca_info p:last-of-type {
    margin-bottom: 0;
  }

  .paginator a {
    margin: 5px 5px 0 0;
}

.content .novica_datum {
  text-align: center;
  margin-top: 0;
  font-weight: 400;
}

.social_buttons {
  justify-content: center;
  margin: 0.5em 0 1.5em 0;
}

  /* END MUCE */
  /* .izobrazevalne_vsebine > .vnos {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5em;
  }

  .izobrazevalne_vsebine > .vnos > .naslovna_slika {
    width: 90%;
  }

  .naslovna_slika img {
    margin-bottom: 0;
  }

  .izobrazevalne_vsebine > .vnos > .vsebina {
    width: 85%;
    text-align: center;
  }

    .izobrazevalne_vsebine > .vnos > .vsebina > p {
      text-align: center;
    }

    /* JPLIST FILTRI */
  /*  .jplist-panel {
      display: flex;
    }

    .muce_filtri {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1em;
      margin-bottom: 2em;
    }

    .jplist-panel .text-filter-box {
      margin: 5px;
    }

    .jplist-panel .jplist-group {
      margin: 10px 10px 0 0;
    }

    .jplist-panel .jplist-pagination {
      margin: 0 0 1.5em 0;
    }

    .jplist-panel button {
        color: rgb(52, 58, 64);
        background: rgba(230, 230, 230, 0.4);
        margin: 10px 3px 0px 0px;
    }

    .novice_seznam .jplist-panel {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .novice_seznam .jplist-panel .jplist-pagination {
      order: 3;
      margin-bottom: 1.5em;
      margin-top: 0.5em;
    }

    .novice_seznam .jplist-panel .jplist-label {
      order: 2;
      margin-top: 1.2em;
    }

    .novice_seznam .jplist-panel .text-filter-box {
    order: 1;
  }  */


}

@media all and (max-width: 640px) {
  .i_muca_img {
    min-height: 240px;
  }

  .v_novem_domu_muca .muca_img {
    height: 220px;
  }

  .muca_img {
    height: 190px;
  }

  .page_header {
    height: 190px;
  }


}

@media all and (max-width: 360px) {
  .fb-page, .fb-page iframe[style], .fb-page span {
      width: 100% !important;
  }

  .nav_donate > form > button {
    font-size: 22px;
    height: 65px;
  }

  .navbar {
    height: 65px;
  }

  .navbar .logo img {
    height: 55px;
  }

  .stellarnav .fa-bars {
    font-size: 36px;
  }

  .side_cat {
    height: 190px;
  }

  .i_muca {
    margin-bottom: 10px;
  }

  .i_muca_img {
    min-height: 190px;
  }

  .muca_img {
    height: 170px;
  }

  .v_novem_domu_muca .muca_img {
    height: 170px;
  }

}
