@media all and (max-width: 768px) {
  .nav_menu_primary.mobile.left > ul {
    max-width: 80vw;
    border-right: 1px solid #ddd;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
  }

  .navbar {
    height: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    border-bottom: none;
  }

  .nav_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 75px;
    padding: 0;
    margin: 0;
  }

  .navbar > .logo {
    margin: 0;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    border-right: none;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .navbar .logo img {
    height: 45px;
    vertical-align: middle;
  }

  .nav_menu_primary.mobile.left > ul {
    min-height: 100vh;
    padding-bottom: 100px;
    z-index: 99999;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
  }

  .nav_menu_primary > ul > .nav_search_mobile {
    padding: 0 !important;
    border-bottom: none !important;
  }

  .nav_menu_secondary,
  .nav_search {
    display: none;
  }

  .nav_menu {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    margin-right: 0;
  }

  .nav_donate {
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    position: relative;
    padding: 0;
  }

  .nav_donate > form {
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
  }

  .nav_donate > form > button {
    border: none;
    height: 55px;
    width: 100%;
    padding: 0;
    border-radius: 0;
    font-weight: 700;
  }
}

@media all and (max-width: 640px) {
  .slick-prev {
    left: 6%;
    z-index: 90001;
  }

  .slick-next {
    right: 6%;
    z-index: 90001;
  }

  .slick-prev:before,
  .slick-next:before {
    color: #fcfdffad !important;
  }
}

@media all and (max-width: 360px) {
  a.menu-toggle.full {
    height: 55px;
  }

  .nav_donate > form > button {
    font-size: 21px;
    height: 55px;
  }

  .navbar {
    height: 55px;
  }

  .navbar .logo img {
    height: 45px;
  }

  .nav_menu_primary .fa-bars {
    font-size: 29px;
  }
}
