@media all and (max-width: 600px) {

  body {
    display: flex;
    flex-direction: column;
  }

  body > div > .container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .main > div > .container  {
    padding: 20px 15px 37px 15px;
    max-width: 100%;
    margin: 0 auto;
  }

  .nav {
    order: 1;
    position: fixed;
    top:0;
    transition: all 0.2s ease;
    height: 85px;
    width: 100%;
    border: none;
    background: none;
  }

  .jumbo {
    order: 2;
    border-bottom: 1px solid rgba(0,0,0,0.4);
  }

  .main {
    order: 3;
  }

  .related_links {
    order: 4;
  }

  .footer {
    order: 5;
  }

  .signature {
    order: 6;
  }

  .index_heading {
    margin-bottom: 15px;
  }

  .mobile_logo,
  .mobile_top_contact {
   display: block;
  }


  .mobile_logo {
    width: 20%;
  }

  .mobile_top_contact {
    width: 40%;
  }



  .nav > .container {
    padding: 5px 0;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }

  .stellarnav {
    width: 20%!important;
  }

  .mobile_top_contact a {
    font-size: 0.9em;
    color: #343a40;
    margin: 3px 0;
  }

  .stellarnav .fa-bars {
    font-size: 2.1em;
    font-weight: 400;
    vertical-align: middle;
    color: rgba(230, 230, 230,0.8);
    transition: all 0.3s ease;
  }

  .top_bar,
  .jumbo_logo,
  .nav_div {
    display: none;
  }

  .jumbo_container {
    height: auto;
  }



  .jumbo_links {
    flex-direction: column;
    width: 80%;
  }

  .jumbo_links_index .jumbo_links_row {
    flex-direction: column;
  }

  .jumbo_button {
    width: 65%;
    align-self: center;
  }

  .jumbo_button_index {
    max-width: 260px;
  }


  .search {
    width: 100%;
  }

  .search input[type=text] {
    padding: 7px;
    margin: 15px 0;
    width: 65%;
    text-align: center;
  }

  .news_reel,
  .cat_reel,
  .help_reel {
    flex-direction: column;
  }

  .news_item,
  .index_cat,
  .help_item {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .nonindex > .container {
    flex-direction: column;
    align-items: center;
  }

  .content,
  .sidebar {
    width: 95%;
  }

  .content {
    margin: 0;
  }

  .muce_filter {
    flex-direction: column;
  }

  .muce_filter_group,
  .muce_filter_group:last-of-type {
    width: 100%;
    text-align: center;
    margin: 8px 0;
  }

  .muce_filter input[type=text] {
    width: 60%;
    text-align: center;
  }

  .footer > .container > div {
    width: 100%;
    text-align: center;
    padding: 0;
  }



  .footer_links {
    margin-top: 17px;
    margin-bottom: 16px;
  }

  .signature {
    padding: 10px 0;
    height: 50px;
    line-height: 25px;
    font-size: 0.75em;
  }

  .signature > .container {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  /* MUCE */
  .main > .nonindex > .container_full {
    padding: 20px 15px 37px 15px;
    max-width: 100%;
  }

  .footer > .container > .footer_contact {
    padding-bottom: 15px;
  }
  .muce_seznam {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

  }

  .muca {
      width: 100%;
      text-align: center;
      margin-top: 2em;
  }

  .muce_filter {
    border: none;
    background: #f8f8f8;
  }

  .photos,
  .data,
  .desc {
    width: 100%;
  }

  #muca_name {
    text-align: center;
  }

  #name_hr {
    margin: 0.5em auto;
    margin-bottom: 1.5em;
    background-image: linear-gradient(to right, rgba(229, 148, 0, 0), rgba(229, 148, 0, 0.8), rgba(0,0, 0, 0));
    width: 270px;
  }

  #muce_back {
    text-align: center;
  }

  .photos {
    margin-right: 0;
  }

  .desc {
    margin-top: 30px;
  }

  .desc h2 {
    text-align: center;
  }

  .desc > .contact p {
    text-align: center;
  }

  .desc > .boter_true {
    text-align: center;
    margin-bottom: 30px;
  }


  /* END MUCE */

}
