/* Menu */
.nav_donate > form > button {
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

@media all and (max-width: 768px) {
  .nav_donate > form > button {
    font-size: 23px;
  }
}
