.i_footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3f3f3f;
  padding: 60px 0;

}

    .i_footer > .container > div {
      width: 25%;
    }

      .i_footer h3 {
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 2px;
        color: rgba(255, 255, 255, 0.5);
      }


      .i_footer > .container > div > ul {
        list-style: none;
        padding-left: 0;
        font-weight: 300;
      }

        .i_footer > .container > div > ul > li {
          font-weight: 300;
          line-height: 34px;
          color: rgba(255, 255, 255, 0.8);
        }

        .i_footer > .container > div > ul > li a {
          color: rgba(255, 255, 255, 0.8);
          -webkit-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          transition: all 0.4s ease;
        }

        .i_footer > .container > div > ul > li .fa {
          margin-right: 4px;
        }

        .social_buttons {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -ms-flex-pack: distribute;
              justify-content: space-around;
        }

          .social_buttons a .fa {
            color: rgba(255, 255, 255, 0.5);
            font-size: 32px;
            vertical-align: middle;
            padding-bottom: 18.72px;
            -webkit-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
          }

          .social_buttons a .fa:hover,
          .i_footer > .container > div > ul > li a:hover {
            color: rgba(255, 203, 0, 0.9);
          }

        .fb-page {
          border: 1px solid rgba(255,255,255,0.3);
        }

.i_signature {
  background: #232323;
  color: rgba(255,255,255,0.6);
  letter-spacing: 1px;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  padding: 6px 0;
  font-weight: 300;
}

  .i_signature > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .i_signature a {
    color: rgba(255,255,255,0.7);
    margin-left: 2px;
    font-weight: 500;
  }

  .signature_divider {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    color: rgba(255,255,255,0.8);
    margin: 0 8px;
    font-size: 0.5rem;
  }
