.mobile_logo,
.mobile_top_contact {
  display: none;
}

.top_bar {
  background: #343a40;
  height: 40px;
  line-height: 40px;
  color: #e8e8e8;
  font-size: 0.9em;
}

  .top_bar > .container {
    justify-content: space-between;
  }

  .top_bar a {
    color: #e8e8e8;
    margin: 0 5px;
  }

  .top_bar_social a .fa {
    font-size: 2em;
    vertical-align: middle;
  }

.jumbo {
  padding: 20px 0;
}

  .jumbo > .container {
    align-items: center;
    justify-content: space-between;
  }

  .jumbo_links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .jumbo_button {
    width: 46%;
    text-align: center;
    background: #ffcb00;
    border: 1px solid rgba(0,0,0,0.4);
    margin: 5px;
    padding: 10px 0;
    font-size: 0.9em;
  }

.nav {
  background: #e8e8e8;
  border-top: 1px solid rgba(0,0,0,0.4);
  border-bottom: 1px solid rgba(0,0,0,0.4);
}

  .nav > .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

    /* STELLARNAV CUSTOM */
    @media all and (min-width: 601px) {
      .stellarnav > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;

      }

        .stellarnav .nav_kategorija {
          margin: 0 10px 0 0;
          padding: 0 10px;
          height: 50px;
          line-height: 50px;
        }

      .stellarnav .nav_kategorija > a {
        padding: 0!important;
      }

      .stellarnav .nav_podstrani {
        margin: 0 -10px;
        border-left: 1px solid rgba(0,0,0,0.3);
        border-right: 1px solid rgba(0,0,0,0.3);
      }

      .stellarnav .nav_podstran {
        padding: 10px;
        font-size: 0.9em;

      }

      .stellarnav .nav_podstran a {
        padding: 0;
      }
    }

      .stellarnav .nav_podstrani {
        background: white!important;
      }

      .stellarnav .nav_podstran {
        border-bottom: 1px solid rgba(0,0,0,0.3);
      }

      .stellarnav .nav_kategorija:hover {
        background: #343a40;
      }

      .stellarnav .nav_kategorija > a:hover {
        color: #e8e8e8;
        cursor: pointer;
      }
      .stellarnav .nav_podstran:hover {
        background: rgba(0,0,0,0.04);
      }
    /* END STELLARNAV */

  .nav .fa-search {
    font-size: 1.5em;
    margin-left: 5px;
    vertical-align: middle;
  }

  .nav_div {
    width: 75%;
    margin-right: 25px;
  }

  .search {
    width: 25%;
    text-align: center;
  }

  .search input {
    width: 74.8%;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
  }
