.i_jumbo {
    visibility: hidden!important;
}
.i_jumbo.slick-initialized {
    visibility: visible!important;
}

body > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'Open Sans', sans-serif;
}

button a {
  color: #3f3f3f;
}

a:focus {
  outline: none!important;
}

button i {
  vertical-align: bottom;
}

.nav_donate > form > button,
.i_jumbo_button,
.i_dohodnina > button,
.i_donate > button,
.i_boter > button {
  background-color: #ffcb00;
  transition: background-color 0.2s ease;
  box-shadow: 1px 1px #888888;
  /* background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23abaaaa' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E"); */
}



.nav_donate > form > button {
  box-shadow: none;
}

/* JUMBO */
.naslovnica {
  background: #3f3f3f;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(60vh - 95px);
}

  .i_jumbo_text {
    color: #fff;
    margin: 3% 0 0 3%;
  }

    .i_jumbo_title {
      font-size: 80px;
      font-weight: 700;
      letter-spacing: 1px;
      margin: 0;
      text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }

    .i_jumbo_subtitle {
      font-size: 24px;
      font-weight: 500;
      margin: 15px 0 23px 0;
      text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }

    .i_jumbo_button {
      border: none;
      font-family: 'Open Sans', sans-serif;
      font-size: 24px;
      letter-spacing: 1px;
      padding: 12px 30px;
      border-radius: 5px;
    }

/* DOHODNINA */
.i_dohodnina {
  background: #3f3f3f;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-align: center;
  padding: 40px 20px;
}

  .i_dohodnina > p {
    font-weight: 300;
    font-size: 18px;
  }

  .i_dohodnina > button,
    .i_donate > button,
    .i_boter > button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-top: 20px;
  }

/* MUCE */
.i_muce {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0 10px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

  .i_muce_head {
    position: relative;
  }

    .i_muce > .i_muce_head > h1 {
      margin: 0 0 20px 0;
      font-weight: 300;
      font-size: 2.5rem;
      letter-spacing: 2px;
    }

  .i_muce_reel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-bottom: 30px;
  }

    .i_muca {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }

      .i_muca_img {
        position: relative;
        overflow: hidden;
        min-height: 210px;
        max-height: 350px;
        width: 310px;
        margin: 20px 20px 0 20px;
      }

      .i_muca_img a:focus {
        outline: none !important;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      }

        .i_muca_img a img {
          position: absolute;
          margin: auto;
          min-height: 100%;
          min-width: 100%;
          max-width: calc(100% * 1.15);
          left: -100%;
          right: -100%;
          top: -100%;
          bottom: -100%;
          -webkit-transition: all 0.2s ease-out;
          -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
        }



      .i_muca_txt {
        padding: 5px 20px;
        width: 270px;
        text-align: center;
        background: #dbdbdb;
     }

        .i_muca_txt h3 {
          margin: 0;
          letter-spacing: 1px;
          line-height: 22px;
        }

        .i_muca_txt a {
          font-weight: 600;
          /* color: rgb(255, 255, 255); color: rgba(255, 255, 255, 0.9); */
          color: #343a40;
          font-size: 18px;
          letter-spacing: 1px;
        }

  .i_muce > a > button {
    margin-bottom: 25px;
  }
/* END MUCE */

.divider {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

  .divider .fas {
    font-size: 3rem;
    color: #ddd; color: rgba(0,0,0,0.14);
  }

/* MAILING */
.i_mailing {
  padding: 10px 0 60px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clear input#mc-embedded-subscribe {
  transition: all 0.2s ease;
}



  .i_mailing > h2 {
    font-weight: 500;
  }

  #mc_embed_signup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  #mc_embed_signup input.email {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #333;
    background-color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 32px;
    padding: 20px 0.7em;
    margin: 0;
    width: 350px;
  }

  #mc_embed_signup .button {
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: none;
    letter-spacing: .03em;
    color: #343a40;
    background-color: #ffcb00;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 32px;
    line-height: 0;
    padding: 21px 1.1em;
    vertical-align: middle;
    margin: 0;
  }

  input[type=email] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #ffcb00;
}

input[type=email]:focus {
  box-shadow: 0 0 7px #ffcb00;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 10px solid #ffcb00;
}

/* HELP */
.i_help {
  color: #fff;
  padding: 60px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* background-image: url(/files/index/6.jpg); */
  background-size: cover;
  background-position: 50% 46%;
  background-repeat: no-repeat;
}


.i_help > h1 {
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  margin: 0 0 40px 0;
  font-weight: 500;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

  .help_reel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

    .help_item {
      width: 300px;
      margin: 0 15px;
      padding: 30px 15px 20px 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      background-color: rgb(140, 140, 140); background-color: rgba(140, 140, 140, 0.6);
      border-radius: 10px;
    }

      .help_item .fas {
        font-size: 2.5em;
        border: 1px solid #fff;
        padding: 15px;
        border-radius: 50%;
        color: #fff;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
      }

      .help_item h3 {
        font-weight: 700;
        font-size: 26px;
        margin: 20px 0 0.5em 0;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
      }

      .help_item p {
        font-weight: 300;
        font-size: 17px;
      }

      .help_item .orange {
        color: #fff;
        font-weight: 500;
      }

      .help_item hr {
        width: 95%;
        border: 0;
        height: 1px;
        background: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0, 0)), color-stop(rgba(255, 255, 255, 1)), to(rgba(0,0,0, 0)));
        background: -webkit-linear-gradient(left, rgba(0,0,0, 0), rgba(255, 255, 255, 1), rgba(0,0,0, 0));
        background: -o-linear-gradient(left, rgba(0,0,0, 0), rgba(255, 255, 255, 1), rgba(0,0,0, 0));
        background: linear-gradient(to right, rgba(0,0,0, 0), rgba(255, 255, 255, 1), rgba(0,0,0, 0));
        margin: 0 auto 0.7em auto;
      }
/* END HELP */

/* IZOBRAZEVANJE */
.i_edu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
}

.i_edu > h1 {
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin-top: 0;
}

  .i_edu_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 260px;
    margin-bottom: 10px;

  }

    .i_edu_img img {
      height: 250px;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      margin: 0 0 25px 0;
      border: 1px solid #ddd; border: 1px solid rgba(0,0,0,0.2);
      margin-left: 20px;
    }

  .i_edu p {
    font-weight: 300;
    font-size: 18px;
  }

  .i_edu button,
  .i_muce button,
  .i_boter button
   {
    color: #3f3f3f;
    background: #ebebeb;
    font-size: 18px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-top: 20px;
    box-shadow: 1px 1px #a5a5a5;
    transition: all 0.15s ease;
  }

/* END IZOBRAZEVANJE */


/* DONATE */
.i_donate {
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

  .i_donate > h2 {
    color: #fff;
    font-weight: 500;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size: 28px;
    letter-spacing: 2px;
    text-align: center;
  }

  .i_donate button {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 26px;
    padding: 20px 30px;
    box-shadow: 1px 1px #888888;
  }
/* END DONATE */

/* BOTER */
.i_boter {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 60px 0;
  font-weight: 300;
}

  .i_boter h1 {
    font-weight: 300;
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-top: 0;
  }

  .i_boter img {
    margin-bottom: 25px;
  }

  .i_boter_txt {
    width: 900px;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin: 5px 0 5px 0;
    text-align: center;
  }

  /* .i_boter button {
    color: #000;
    background: #ddd; background: rgba(0,0,0,0.1);
    font-size: 18px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border: 1px solid #3f3f3f;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-top: 20px;
  } */
