.top_bar_index {
  background: none;
}

.mobile_logo_index,
.mobile_top_contact_index {
display: none;
}

.jumbo_index {
  padding: 0;
  background-image: url(/files/page/jumbo_index.jpeg );
  background-size: cover;
  background-position: top;
  height: 100vh;
  margin-top: 0;
}

.jumbo_index_heading {
  text-align: center;
  color: #f0f0f0;
  font-size: 24px;
  line-height: 37px;
  font-weight: 500;
  padding-bottom: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}

  .jumbo_index_heading h1 {
    color: #f0f0f0;
    font-weight: 700;
    margin: 25px 0;
  }

  .jumbo_index_heading h4 {
    color: #f0f0f0;
    font-weight: 700;
    margin: 20px 0;
  }

.index_hr {
  width: 200px;
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(255, 203, 0, 0.01), rgba(255, 203, 0, 1), rgba(255, 203, 0, 0.01));

  margin: 0 auto;
}

.jumbo_index > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.jumbo_links_index {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jumbo_links_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.jumbo_button_index {
  text-align: center;
  margin: 5px;
  width: 300px;
  padding: 10px;
  font-size: 16px;
  line-height: 16px;
  transition: all 0.3s ease;
  border-radius: 4px;
  background: rgba(230, 230, 230,0.8);
}

  .jumbo_button_index a {
    color: #343a40;
    transition: all 0.2s ease;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
  }

  .jumbo_button_index i {
    margin-left: 2px;
    font-weight: 500;
  }

  .jumbo_button_index button {
    font-family: 'Raleway', sans-serif;
    background: none;
    border: none;
    color: #343a40;
    transition: all 0.2s ease;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 16px;
  }

  .jumbo_button_index:hover {

    background: rgba(255, 203, 0, 0.85);
  }

  .jumbo_button_index button:hover {
    cursor: pointer;
    background: rgba(0,0,0,0);
  }

  .top_bar_index a {
    color: #e8e8e8;
  }

.index_intro {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #e8e8e8;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

  .index_intro .container {
    width: 1000px;
  }

  .index_intro p {
    line-height: 24px;
    font-size: 17px;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }

  .index_intro h1,
  {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    letter-spacing: 1px;
  }

.nreel {
  display: flex;
  flex-direction: row;
  justify-content: center;
    margin-top: 20px;
}

  .nreel_item {
    width: 280px;
    margin: 10px;
    background: rgba(249,249,249,1);
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0;
    font-family: 'Raleway', sans-serif;
  }

    .nreel_title {
      margin: 0;
    }

    .nreel_title a {
      color: #E18A07;
      font-size: 16px;
      transition: all 0.1s ease;
    }

    .nreel_title a:hover {
      color: #343a40;
    }

  .nreel_date {
    font-weight: 300;
    font-size: 13px;
  }

  .nreel_img {
    width: 280px;
    height: 300px;
    overflow: hidden;
    position: relative;
  }


  .nreel_img img {
    position: absolute;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: 390px;
    /* For the following settings we set 100%, but it can be higher if needed
    See the answer's update */
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
  }

  .nreel_txt {
    padding: 20px;
  }

  .nreel_short {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 5px;
    color: #343a40;
  }

  .nreel_more {
    margin: 0;
    font-size: 14px;
    letter-spacing: 1px;
  }

    .nreel_more a {
      color: #e18a07;
      transition: all 0.2s ease;
    }

    .nreel_more a:hover {
      color: #343a40;
    }


  .news_more {
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }

    .news_more a {
      color: #343a40;
      font-size: 18px;
      letter-spacing: 1px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
      transition: all 0.1s ease;
    }

    .news_more a:hover {
      color: #e18a07;
    }


  .index_intro .intro_more a {
color:#e8e8e8;
      font-size: 18px;
      letter-spacing: 1px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
      transition: all 0.3s ease;
    }

    .index_intro .intro_more a i {
      margin-left: 3px;
    }

  .index_intro .intro_more a:hover {
    color: #e59400;
  }

.index_heading {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}

  .index_heading h2 {
    margin: 0 0 0.2em 0;
  }

  .index_heading hr {
    width: 200px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(229, 148, 0, 0), rgba(229, 148, 0, 0.75), rgba(229, 148, 0, 0));
  }

.index_more {
  padding-top: 30px;
  text-align: center;
  border-radius: 40%;
}

.index_btn {
  background: #e8e8e8;
  border: 1px solid rgba(0,0,0,0.4);
  padding: 8px 30px;
  color: #343a40;
  font-family: 'Raleway', sans-serif;
}

.index_btn:hover {
  cursor: pointer;
  background: #343a40;
  color: #e8e8e8;
}

.index_news,
.index_cats,
.index_help {
  width: 100%;
}

  .news_reel,
  .cat_reel,
  .help_reel {
    display: flex;
    flex-direction: row;
  }

  .news_item {
    width: 30%;
    text-align: center;
    padding: 0 1em;
    margin: 0 15px;
  }

    .news_item img {
      height: 250px;
      max-width: 100%;
      border: 1px solid rgba(0,0,0,0.2);
    }

    .news_item p,
    .help_item p {
      font-size: 0.9em;
      margin-bottom: 0;
    }

.index_news {
  background: #fefefe;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #fefefe, #e8e8e8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #fefefe, #e8e8e8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

  .index_news h1 {
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #414345;
    font-size: 1.8em;
    margin-bottom: 10px;
  }

.main > .index_cats > .container {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
}

.index_cats {
  background: #f8f8f8;
}

.index_cat {
  padding: 0;
  margin: 0;
  width: 20%;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 270px;
}

  .index_cat img {
    position: absolute;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: calc(100% * 1.2);
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    transition: all 0.2s ease-out;
  }

    .index_cat img:hover {
      max-width: 110%;
    }

    .index_cat:hover .index_cat h3 a {
      color: red;
    }

  .index_cat h3 a {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    bottom: 0.4em;
    right: 0.5em;
    font-weight: 600;
    color: #fff;
    letter-spacing: 2px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size: 1.8em;
  }

.main > .index_help {
    background: #e8e8e8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #e8e8e8, #fefefe);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #e8e8e8, #fefefe); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.index_help h2 {
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #414345;
    margin-bottom: 10px;
    margin-top: 25px;
}

.help_hr {
  width: 140px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0,0,0, 0), rgba(225, 138, 7, 1), rgba(0,0,0, 0));
  margin: 0 auto;
}

  .help_item {
    width: 31.33%;
    text-align: center;
    padding: 0;

    margin: 30px 10px;
    color: #343a40;
    text-align: center;
  }

  .help_reel {
    margin-bottom: 0px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

    .help_item h4 {
      font-size: 17px;
      letter-spacing: 1px;
      line-height: 22px;
      color: #414345;
      font-weight: 500;
      margin: 0;
    }

    .help_item i {
      color: #e18a07;
      border-radius: 15%;
      border: 1px solid #e18a07;
      padding: 0.4em 0.8em;
      font-size: 18px;
      margin: 10px 0;
    }

    .help_item img {
      border-radius: 10%;
      border: 1px solid rgba(0,0,0,0.2);
    }

    .help_item p {
      font-size: 14px;
      line-height: 22px;
      margin: 0;
      padding: 0;
    }

@media all and (max-width: 600px) {

  .nav_index {
    background: none;
  }

  .stellar_index .fa-bars {
    vertical-align: middle;
    color: rgba(230, 230, 230,0.8);
  }

  .mobile_logo_index {
    width: 20%;
  }

  .mobile_logo_index img {
    height: 42px;
  }

  .mobile_top_contact_index {
    width: 40%;
  }


    .mobile_top_contact_index a {
      font-size: 0.9em;
      color: #343a40;
      margin: 3px 0;
    }

    .mobile_top_contact_index a i {
      color: #e18a07;
      margin-right: 3px;
    }

  .mobile_logo_index,
  .mobile_top_contact_index {
  display: block;
   visibility: hidden;
   opacity: 0;
   transition: visibility 0s, opacity 0.3s linear;
  }

  .jumbo_index {
    height: 100vh!important;
    background-image: url(/files/page/sm.jpeg );

    /* padding-top: 115px!important;
    padding-bottom: 60px!important; */
  }

  .jumbo_index_heading h1 {
    font-size: 1.7em!important;
    margin-bottom: 15px!important;

  }

  .index_hr {
    width: 100px!important;
  }

  .jumbo_index_heading {
    width: 90%;

  }

  .jumbo_index_heading h4 {
    font-size: 20px!important;
    margin-top: 10px!important;
    margin-bottom: 35px!important;
  }

  .main > .index_intro > .container {
    padding: 20px 0;
    width: 90%;
    font-size: 90%;
  }

  .index_intro > .container > p {
    font-size: 15px;
  }

  .main > .index_news > .container {
    padding: 20px 0;
    width: 80%;
    font-size: 90%;
  }

    .nreel {
      flex-direction: column;
      align-items: center;

    }

    .nreel_item {
      width: 100%;
      margin-bottom: 25px;
    }

    .nreel_img {
      width: 100%;
    }

    .nreel_txt {
      text-align: center;
    }

.cat_reel {
  flex-direction: column;
}

  .index_cat {
    width: 100%;
  }

.help_reel {
  flex-direction: column;
  align-items: center;
}

.index_help h2 {
  margin-bottom: 15px;
}

.help_item {
  width: 85%;
  background: rgba(249,249,249,0.8);
  border: 1px solid rgba(0,0,0,0.1);
  padding: 24px 12px;
}



}
