body > div {
  display: flex;
  flex-direction: row;
  font-family: 'Roboto Slab', serif;
}

body > div > .container {
  width: 1200px;
}

p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

button a {
  color: #343a40;
}

button a:hover {
  color: #000;
}

.nav_donate > form > button,
.i_jumbo_button,
.i_dohodnina > button,
.i_donate > button,
.i_boter > button {
  background-color: #ffcb00;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
/* NAVBAR */
.navbar {
  height: 95px;
  background: #fff;
  align-items: center;
  top: 0;
  z-index: 99999;
  width: 100%;
  border-bottom: 1px solid #3f3f3f61;
  position: sticky;
}

.navbar > div {
  display: flex;
  flex-direction: row;
}

  .navbar > .logo {
    padding: 10px 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

    .navbar > .logo img {
      height: 75px;
    }

  .nav_menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: calc(100% - 310px);
    flex-wrap: wrap;
  }

  .stellarnav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: auto;
  }

/* STELLARNAV OVERRIDE FOR LARGE SCREENS */
@media all and (min-width: 1350px) {

.stellarnav > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.stellarnav>ul>li>a {
    padding: 0;
    color: #343a40;
    font-family: 'Roboto Slab', serif;
  }

  .stellarnav > ul > .menu_primary {
    height: 95px;
    line-height: 95px;
    font-weight: 700;
    font-size: 21px;
    color: #343a40;
    font-family: 'Roboto Slab', serif;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23bdbdbd' fill-opacity='0.38' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  }

    .stellarnav > ul > .menu_primary:hover {
      background-color: #3f3f3f;
      background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23bdbdbd' fill-opacity='0.23' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    }

    .stellarnav > ul > .menu_primary:hover > a {
      color: #ffcb00;
    }

    .menu_primary > a:hover {
      cursor: default;
    }

    /* Posvojitev, Vaša pomoč, Izobraževanje */
    .stellarnav > ul > .menu_primary > a {
      margin: 0 20px;
      transition: none;
    }


      /* Pogoji za posvojitev, Seznam muc itd. */
      .stellarnav > ul > .menu_primary > ul > li {
        background: #fff;
        width: 300px;
        padding: 5px 0;
        border-bottom: 1px solid rgba(0,0,0,0.2);
      }

      .stellarnav > ul > .menu_primary > ul > li:hover {
        background-color: #ffcb00;
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%237c7b79' fill-opacity='0.23' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
      }
        .stellarnav > ul > .menu_primary > ul > li > a {
          color: #1f1f1f;
          font-size: 1.2rem;
          font-weight: 500;
        }

}
/* END STELLARNAV OVERRIDE FOR LARGE SCREENS */

    .stellarnav .fa-bars {
      font-size: 42px;
      margin-left: 10px;
      margin-right: 10px;
      color: #343a40;
    }

    .stellarnav > ul > li:nth-of-type(n+4),
    .stellarnav > ul > .nav_search_mobile {
      display: none;
    }

    .menu_secondary {
      margin-left: auto;
      display: flex;
      font-weight: 300;
      flex-direction: row;
      color: #848484;
      font-size: 16px;
      letter-spacing: 0.1px;
    }

      .menu_secondary > ul {
        color: #848484;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 0;
        font-family: 'Roboto Slab', serif;
      }

      .menu_secondary > ul > li > a {
        padding: 0 15px 0 0;
        font-weight: 300;
        color: #848484;
        font-size: 16px;
        letter-spacing: 0.1px;
      }



    /* .menu_primary {
      font-weight: 700;
      font-size: 21px;
      color: #343a40;

    } */

        /* .menu_primary > ul > li {
          margin: 0;
          height: 95px;
          padding: 0 21px;
          display: flex;
          flex-direction: row;
          align-items: center;
          border-right: 1px solid rgba(0, 0, 0, 0.1);
          background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23bdbdbd' fill-opacity='0.38' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
        } */



      /* .menu_secondary > ul > li {
        padding-right: 15px;
      } */

      .nav_search {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 200px;
      }

        .nav_search > form {
          border: 1px solid rgba(0, 0, 0, 0.2);
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        .nav_search > form > input[type="text"] {
          /* Tipue Search CSS override */
          max-width: 150px!important;
          border: none!important;
          margin: 0!important;
          padding: 20px 0 20px 10px!important;
          font-weight: 300!important;
          font-family: 'Roboto Slab', serif!important;
          font-size: 19px!important;
        }

        .nav_search > form > button {
          background: none;
          border: none;
          margin-right: 5px;
        }

        .nav_search > form > button > i {
          color: #343a40;
        }

  .nav_donate {
    height: 95px;
    width: 210px;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 13px;
  }

    .nav_donate > form {
      position: absolute;
      top: -10px;
      right: 16px;
    }

      .nav_donate > form > button {
        color: #343a40;
        border: none;
        height: 115px;
        width: 200px;
        padding: 0;
        border-radius: 10px;
        letter-spacing: 1px;
        font-size: 34px;
        font-weight: 700;
        font-family: 'Roboto Slab', serif;
        z-index: 9000;
        position: sticky;
      }

      .nav_donate > form > button:hover {
        cursor: pointer;
      }


/* END NAVBAR */

/* JUMBO */
.i_jumbo > div {
  width: 100%;
  height: calc(60vh - 95px);
  background-image: url(/files/index/5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
  .i_jumbo_1 {
    background-image: url(/files/index/8.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(60vh - 95px);
  }

  .i_jumbo_2 {
    background-image: url(/files/index/5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(60vh - 95px);
  }

  .i_jumbo_text {
    font-family: 'Roboto Slab', serif;
    color: #fff;
    margin: 3% 0 0 3%;
  }

    .i_jumbo_title {
      font-size: 80px;
      font-weight: 700;
      letter-spacing: 1px;
      margin: 0;
    }

    .i_jumbo_subtitle {
      font-size: 24px;
      font-weight: 500;
      margin: 15px 0 23px 0;
    }

    .i_jumbo_button {
      color: #343a40;
      border: none;
      font-family: 'Roboto Slab', serif;
      font-weight: 500;
      font-size: 24px;
      letter-spacing: 1px;
      padding: 12px 30px;
      border-radius: 5px;
    }

    .slick-slide:focus {
      outline: none;
    }

    .i_jumbo .slick-dots {
      bottom: 10%;
    }

    .slick-dotted.slick-slider {
      margin-bottom: 0;
    }

    .slick-dots li {
      margin-right: 15px;
    }

    .slick-dots li button:before {
        font-size: 20px;
        line-height: 20px;
        color: #fff;
        opacity: 1;
        margin-right: 50px;
    }

    .i_jumbo .slick-dots li.slick-active button:before {
      opacity: 1;
      color: #ffcb00;

    }
/* END JUMBO */

/* DOHODNINA */
.i_dohodnina {
  background: #3f3f3f;
  flex-direction: column;
  color: #fff;
  text-align: center;
  padding: 40px 20px;
}

  .i_dohodnina > p {
    font-weight: 300;
    font-size: 18px;
  }

  .i_dohodnina > button,
    .i_donate > button,
    .i_boter > button {
    color: #343a40;
    align-self: center;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-top: 20px;
  }
/* END DOHODNINA */

/* MUCE */
.i_muce {
  align-items: center;
  padding: 60px 0 10px 0;
  flex-direction: column;
  position: relative;

}

  .i_muce > .bg {
    position: absolute;
    top: 0;
    height: 300px;
    background: #fff;
    width: 100%;
  }

  .i_muce_head {
    position: relative;
  }

    .i_muce > .i_muce_head > h1 {
      margin: 0 0 20px 0;
      font-weight: 300;
      font-size: 2.5rem;
      letter-spacing: 2px;
    }

  .i_muce_reel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
  }

    .i_muca {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

      .i_muca_img {
        position: relative;
        overflow: hidden;
        min-height: 270px;
        max-height: 350px;
        width: 360px;
        margin: 20px 20px 0 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: 1px solid #3f3f3f;
        border-bottom: none;
      }

        .i_muca_img a img {
          position: absolute;
          margin: auto;
          min-height: 100%;
          min-width: 100%;
          max-width: calc(100% * 1.15);
          left: -100%;
          right: -100%;
          top: -100%;
          bottom: -100%;
          transition: all 0.2s ease-out;

        }

      .i_muca_txt {
        padding: 10px 20px;
        width: calc(100% - 82px);
        text-align: center;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 1px solid #3f3f3f;
        background: #3f3f3f;
     }

        .i_muca_txt h3 {
          margin: 0;
          letter-spacing: 1px;
        }

        .i_muca_txt a {
          font-weight: 500;
          color: rgba(255, 255, 255, 0.9);

          font-size: 20px;
          letter-spacing: 1px;
        }

  .i_muce > button {
    margin-bottom: 25px;
  }
/* END MUCE */

.divider {
  justify-content: center;
}

  .divider .fa {
    font-size: 3rem;
    color: rgba(0,0,0,0.14);
  }

/* MAILING */
.i_mailing {
  padding: 10px 0 60px 0;
  flex-direction: column;
  align-items: center;
}

  .i_mailing > h2 {
    font-weight: 500;
  }

  #mc_embed_signup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #mc_embed_signup input.email {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #333;
    background-color: #fff;
    box-sizing: border-box;
    height: 32px;
    padding: 20px 0.7em;
    margin: 0;
    width: 350px;
    vertical-align: middle;
  }

  #mc_embed_signup .button {
    font-weight: 500;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    letter-spacing: .03em;
    color: #343a40;
    background-color: #ffcb00;
    box-sizing: border-box;
    height: 32px;
    line-height: 0;
    padding: 21px 1.1em;
    vertical-align: middle;
    margin: 0;
    transition: all 0.23s ease-in-out 0s;
  }
/* END MAILING */

/* HELP */
.i_help {
  color: #fff;
  padding: 60px 0;
  flex-direction: column;
  align-items: center;
  background-image: url(/files/index/6.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.i_help > h1 {
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  margin: 0 0 40px 0;
  font-weight: 500;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

  .help_reel {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

    .help_item {
      width: 300px;
      margin: 0 15px;
      padding: 30px 15px 20px 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: rgba(140, 140, 140, 0.6);
      border-radius: 10px;
    }

      .help_item .fa {
        font-size: 3em;
        border: 1px solid #fff;
        padding: 15px;
        border-radius: 50%;
        color: #fff;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
      }

      .help_item h3 {
        font-weight: 700;
        font-size: 26px;
        margin: 20px 0 0.5em 0;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
      }

      .help_item p {
        font-weight: 300;
        font-size: 17px;
      }

      .help_item .orange {
        color: #fff;
        font-weight: 500;
      }

      .help_item hr {
        width: 95%;
        border: 0;
        height: 1px;
        background: linear-gradient(to right, rgba(0,0,0, 0), rgba(255, 255, 255, 1), rgba(0,0,0, 0));
        margin: 0 auto 0.7em auto;
      }
/* END HELP */

/* IZOBRAZEVANJE */
.i_edu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}

.i_edu > h1 {
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin-top: 0;
}

  .i_edu_img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 260px;
    margin-bottom: 10px;

  }

    .i_edu_img img {
      height: 250px;
      align-self: center;
      margin: 0 0 25px 0;
      border: 1px solid rgba(0,0,0,0.2);
      margin-left: 20px;
    }

  .i_edu p {
    font-weight: 300;
    font-size: 18px;
  }

  .i_edu button,
  .i_muce button {
    color: #000;
    background: rgba(0,0,0,0.1);
    font-size: 18px;
    align-self: center;
    border: 1px solid #3f3f3f;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-top: 20px;
  }
/* END IZOBRAZEVANJE */


/* DONATE */
.i_donate {
  color: #fff;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  background-image: url(/files/index/7.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

  .i_donate > h2 {
    color: #fff;
    font-weight: 500;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size: 28px;
    letter-spacing: 2px;
  }

  .i_donate button {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 26px;
    padding: 20px 30px;
  }
/* END DONATE */

/* BOTER */
.i_boter {
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 60px 0;
  font-weight: 300;
}

  .i_boter h1 {
    font-weight: 300;
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-top: 0;
  }

  .i_boter img {
    margin-bottom: 25px;
  }

  .i_boter_txt {
    width: 900px;
    font-size: 18px;
    line-height: 28px;
    margin: 5px 0 5px 0;
  }

  .i_boter button {
    color: #000;
    background: rgba(0,0,0,0.1);
    font-size: 18px;
    align-self: center;
    border: 1px solid #3f3f3f;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-top: 20px;
  }
/* END BOTER */

/* FOOTER */
.i_footer {
  justify-content: center;
  align-items: center;
  background: #3f3f3f;
  padding: 60px 0;

}

    .i_footer > .container > div {
      width: 25%;
    }

      .i_footer h3 {
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 2px;
        color: rgba(255, 255, 255, 0.5);
      }


      .i_footer > .container > div > ul {
        list-style: none;
        padding-left: 0;
        font-weight: 300;
      }

        .i_footer > .container > div > ul > li {
          font-weight: 300;
          line-height: 34px;
          color: rgba(255, 255, 255, 0.8);
        }

        .i_footer > .container > div > ul > li a {
          color: rgba(255, 255, 255, 0.8);
          transition: all 0.4s ease;
        }

        .i_footer > .container > div > ul > li .fa {
          margin-right: 4px;
        }

        .social_buttons {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        }

          .social_buttons a .fa {
            color: rgba(255, 255, 255, 0.5);
            font-size: 32px;
            vertical-align: middle;
            padding-bottom: 18.72px;
            transition: all 0.4s ease;
          }

          .social_buttons a .fa:hover,
          .i_footer > .container > div > ul > li a:hover {
            color: rgba(255, 203, 0, 0.9);
          }

        .fb-page {
          border: 1px solid rgba(255,255,255,0.3);
        }

.i_signature {
  background: #232323;
  color: rgba(255,255,255,0.6);
  letter-spacing: 1px;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  padding: 6px 0;
  font-weight: 300;
}

  .i_signature > .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .i_signature a {
    color: rgba(255,255,255,0.7);
    margin-left: 2px;
    font-weight: 500;
  }

  .signature_divider {
    align-self: center;
    color: rgba(255,255,255,0.8);
    margin: 0 8px;
    font-size: 0.5rem;
  }

  .i_scrollToTop {
    position: fixed;
    padding: 0.7em 1em;
    bottom: 1em;
    right: 1.3em;
    background-color: rgba(255, 203, 0, 0.8);
    color: white;
    font-size: 1em;
    opacity: 0.6;
    border-radius: 14%;
    display: none;
    transition: none;
    color: #343a40;
  }

  .i_scrollToTop:hover {
    opacity: 1;
  }

/* END FOOTER */
