body {
  margin: 0;
}

figure {
  margin: 0;
}

iframe {
  max-width: 100%;
}

.notVisible {
  /* visibility: hidden; */
  display: none;
}

.paypal_table select {
  font-family: "Nunito", sans-serif;
}

.nav_menu_primary.mobile.left > ul {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  z-index: 99999;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
}

.nav_menu_primary > ul > .nav_menu_primary_category:hover > a {
  color: #f2f2f2;
}

body > div > .container {
  width: 1250px;
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 auto;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main > div > .container {
  padding: 45px 0;
  max-width: 1300px;
  margin: 0 auto;
}

.nonindex > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 1250px;
}

.mailingButton {
  color: #3f3f3f;
  background: #ffcb00;
  font-size: 18px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px #d5d5d5;
  padding: 10px 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin-top: 20px;
  margin-bottom: 10px;
  transition: all 0.15s ease;
}

.mailingButton i {
  vertical-align: bottom;
}

.content {
  width: 75%;
  margin-right: 25px;
  font-size: 0.9em;
  color: #131313c2;
}

.content ul {
  margin-top: 0;
}

.content h1,
.content h2,
.content h3 {
  font-weight: 600;
  color: #3f3f3f;
  margin: 0;
  letter-spacing: 1px;
  margin-bottom: 12px;
}

.content h3 {
  font-size: 22px;
}

.content p {
  margin: 0 0 12px 0;
  line-height: 24px;
  text-align: justify;
  font-size: 16px;
}

.content ul li {
  line-height: 26px;
  font-size: 16px;
}

.content img {
  max-width: 95%;
  height: auto;
}

.content a {
  color: #343a40;
  font-weight: 600;
  text-decoration: underline;
}

.jplist-icon {
  height: 35px;
  line-height: 35px;
}

.jplist-panel .jplist-pagination button:focus,
.jplist-panel .jplist-pagination button:active {
  outline: 0;
}

/* IZOBRAŽEVANJE */
.izobrazevalne-vsebine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.izobrazevalne-vsebine > .vnos {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.izobrazevalne-vsebine > .vnos > .naslovna_slika {
  width: 20%;
}

.naslovna_slika img {
  max-width: 100%;
  border: 1px solid #ddd;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.izobrazevalne-vsebine > .vnos > .vsebina {
  width: 80%;
  padding: 0 1em;
}

.izobrazevalne-vsebine .vsebina h3 {
  font-weight: 600;
  color: #3f3f3f;
  margin: 0 0 0.5em 0;
  letter-spacing: 0.23px;
  font-family: "Nunito", sans-serif;
}

.izobrazevalne-vsebine .vsebina a {
  font-weight: 400;
  letter-spacing: 0.5px;
  text-decoration: none;
}

/* ČLANKI */
.content .clanek_link {
  font-weight: 400;
  text-decoration: none;
  color: #131313c2;
}

.content .back_to_articles_list {
  margin: 1rem 0;
}

.content .back_to_articles_list_link {
  font-size: 15px;
  letter-spacing: 0.3px;
  font-weight: 400;
  text-decoration: none;
  color: #707070;
}

.content .clanek_link i {
  margin-left: 2px;
  color: #3f3f3f;
  vertical-align: middle;
}

/* VITA */

.vita_category_box a {
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 1.3rem;
}

.vita_category_box .fa {
  font-size: 14px;
  margin-left: 0.2rem;
}

/* PAYPAL */
input.paypal_btn,
.paypal_table {
  padding-bottom: 1rem;
}

/* SLICK */
.slick-prev:before,
.slick-next:before {
  color: #bbb !important;
}

.slick-slide:focus {
  outline: none;
}

.i_jumbo .slick-dots {
  bottom: 10%;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots li {
  margin-right: 15px;
}

.slick-dots li button:before {
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  opacity: 1;
  margin-right: 50px;
}

.i_jumbo .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #ffcb00;
}

/* KOTIČEK ZA OTROKE */
.koticek-za-otroke-seznam {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 1.5rem 0 0 0;
}

.koticek-za-otroke-vsebina {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30.2%;
  border: 1px solid #ddd;
  margin: 0 0.8rem 1.5rem 0.8rem;
  border-radius: 5px;
}

.koticek-za-otroke-slika {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 300px;
}

.koticek-za-otroke-slika img {
  max-height: 270px;
}

.koticek-za-otroke-naslov {
  height: 40px;
  line-height: 40px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  background: #f2f2f2;
  border-bottom: 1px dashed #ddd;
}

.koticek-za-otroke-povezava {
  width: 100%;
  height: 40px;
  background: #f2f2f2;
  border-top: 1px dashed #ddd;
}

.content .koticek-za-otroke-povezava p {
  text-align: center;
  margin-bottom: 0;
  font-size: 16px;
  color: #4a4848;
  line-height: 40px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}

.content .koticek-za-otroke-povezava p i {
  margin-left: 7px;
  margin-right: 2px;
}

.content .koticek-za-otroke-povezava p a {
  transition: all 0.2s ease;
  text-decoration: none;
}
/* KOTIČEK ZA OTROKE END */

/* Enable hover effects only on large screens */
@media all and (min-width: 1140px) {
  #imageZoom:hover {
    color: #131313c2;
  }

  .i_jumbo_button:hover {
    cursor: pointer;
  }

  .social_buttons a .fab:hover,
  .i_footer > .container > #footer_links > div > ul > li a:hover {
    color: rgb(255, 203, 0);
    color: rgba(255, 203, 0, 0.9);
  }

  #zasebnostLink a:hover {
    color: #ffcb00;
  }

  .nav_menu_primary > ul > .nav_menu_primary_category:hover {
    background-color: #595959;
  }

  .nav_menu_primary_category > a:hover {
    cursor: default;
  }

  a.kat_toggle:hover {
    color: red;
  }

  .nav_menu_primary > ul > .nav_menu_primary_category > ul > li:hover {
    background-color: #e5e5e5;
  }

  .nav_menu_primary > ul > .nav_menu_primary_category > ul > .disabled_li:hover {
    background-color: #fff;
    background-image: none;
  }

  .nav_menu_secondary > ul > li > a:hover {
    color: #000;
  }

  .nav_donate > form > button:hover {
    cursor: pointer;
  }

  .jumbo_button button:hover {
    cursor: pointer;
    background: rgb(255, 203, 0);
    background: rgba(255, 203, 0, 0.75);
  }

  .nav_menu_primary .nav_kategorija > a:hover {
    color: black;
    cursor: pointer;
  }

  .nav_menu_primary .nav_podstran:hover {
    background: #f3f3f3;
  }

  .nav_menu_primary .nav_podstran a:hover {
    color: black;
  }

  .search button:hover {
    cursor: pointer;
    color: #e59400;
  }

  .gsc-search-button-v2 svg:hover {
    cursor: pointer !important;
  }

  .gsc-search-box .gsc-input > input:hover,
  .gsc-input-box-hover {
    border: none !important;
    border-top-color: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  #___gcse_0 input#gsc-i-id1:hover {
    cursor: default;
  }

  .nav_donate > form > button:hover,
  .i_jumbo_button:hover,
  .i_dohodnina > a > button:hover,
  .i_donate > a > button:hover,
  .mailingButton:hover {
    cursor: pointer;
    background-color: #ebebeb;
    color: #1f1f1f;
    box-shadow: 1px 1px #a5a5a5;
  }

  .nav_donate > form > button:hover {
    box-shadow: none;
  }

  .i_muca:hover .i_muca_img a img {
    filter: sepia(40%);
  }

  .clear input#mc-embedded-subscribe:hover {
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0.9);
  }

  .i_edu button:hover,
  .i_muce button:hover,
  .i_boter button:hover {
    cursor: pointer;
    color: #e5e5e5;
    background: #515151;
  }

  .side_cat:hover {
    filter: sepia(40%);
  }

  #imageZoom:hover {
    cursor: pointer;
    background: #131313c2;
    color: #dbdbdb;
  }

  .muca h2 a:hover {
    color: #000000;
    font-weight: 700;
  }

  .muca:hover .muca_img a img {
    filter: sepia(40%);
  }

  .v-novem-domu_muca:hover .muca_img a img {
    filter: sepia(40%);
  }

  .jplist-panel button:hover {
    cursor: pointer;
    color: #343a40;
  }

  .paginator a li:hover {
    font-weight: 500;
  }

  .side_btn a:hover {
    color: #3f3f3f;
  }

  .sidebar .sidebar_mailing .mailingButton:hover {
    cursor: pointer;
    background: #eaeaea;
  }

  .content a:hover {
    color: #9e9e9e;
  }

  .content .clanek_link:hover {
    font-weight: 400;
    color: #9e9e9e;
  }
}
