.main > div > .container_full {
  padding: 45px 0;
  max-width: 1200px;
  margin: 0 auto;
}

#twitter-widget-0 {
  margin: 0 0.25rem;
}
.full_desc {
  padding: 1em;
}

.full_desc p:last-of-type {
  margin: 0;
}
