$navbar-height: 75px;

$border-light-color: rgba(0, 0, 0, 0.08);

$button-hover-lightgray-color: #e5e5e5;
$menu-large-hover-color: #595959;

$color-white: #fff;
$color-black: #000;
$color-midgray: #848484;
$color-darkgray: #1f1f1f;
$color-darkgray-blue: #343a40;
