<% include ../partials/header %>
<div class="nonindex">
  <div class="container">
    <div class="content">
      <h1 class="content_heading">Kdo smo?</h1>
      <hr class="content_title_subhr" />

      <p>Mačja hiša je projekt Zavoda Mačja hiša, neprofitnega zavoda za oskrbo mačk in osveščanje. Zaživel je s pričetkom leta 2009 v sodelovanju s strokovnjaki z veterinarskega in živalovarstvenega področja, angleško organizacijo Cats protection ter aktivnimi posamezniki. Osnovni namen projekta je izboljšanje stanja na področju problematike zavrženih in prostoživečih mačk.</p>
      <p>V letih 2010, 2011 in 2012 smo v nove domove pospremili skoraj 1000 prej brezdomnih muc, sterilizirali/kastrirali še več kot enkrat toliko muc.</p>
      <p>V letu 2012 nam je končno uspelo odpreti vrata Veterini MH, kjer nam je osnovno poslanstvo poskrbeti za čim večje število sterilizacij in kastracij hišnih živali, posebej mačk in tako aktivno vplivati na preštevilčno populacijo le-teh. V okviru Veterine MH deluje tudi nam tako zelo pomembna Ambulanta za brezdomne muce.</p>
      <p>Samo v prvih treh mesecih leta 2013 smo na Veterini MH opravili preko 500 posegov sterilizacij/kastracij mačk in psov.</p>
      <img src="/images/vet-mh.png" />
      <p><a href="http://www.macjahisa-vet.si/" target="_blank">www.macjahisa-vet.si</a></p>
      <p>V začetku leta 2010 smo odprli spletno trgovino s hrano in opremo za živali Superčombe, ki se ji je v sklopu Centra MH v sredini leta 2012 pridružila tudi fizična trgovina Superčombe. Od novembra 2012 trgovska dejavnost deluje v podjetju Superčombe d.o.o., ki je last Zavoda Mačja hiša. Izkupiček trgovine in spletne trgovine je še vedno tudi naš glavni vir financiranja.</p>
      <img src="/images/super-combe-logo.png" />
      <p><a href="http://www.supercombe.si/" target="_blank">www.supercombe.si</a></p>
      <p>Naš program donatorstva Mačji boter-posvoji muco na daljavo uspešno deluje že tri leta in pol, trenutno je v program vključenih 227 mačjih botrov, nekaj od njih donira mesečne zneske od prvega meseca delovanja. Prav vsem se tudi na tem mestu iz srca zahvaljujemo, saj brez naših botrov ne bi šlo.</p>
      <img src="/images/boter-logo.png" />
      <p><a href="http://www.macjiboter.si/" target="_blank">www.macjiboter.si</a></p>
      <p>Trenutno aktivno pripravljamo izobraževalne programe za predšolske in osnovnošolske otroke.</p>
      <p>V obdobju enega leta načrtujemo tudi odprtje manjšega zavetišča za mačke.</p>
      <p>V obdobju 1,5-2 let želimo vzpostaviti mobilno enoto za sterilizacije/kastracije, ki bi delovala na področju Slovenije v okviru zakonskih možnosti.</p>
      <p>V obdobju 1-2 let želimo vzpostaviti sodelovanje s tujimi živalovarstvenimi organizacijami, ki že delujejo na področjih bivše Jugoslavije in sicer na področju ozaveščanja in aktivno izvajajo programe sterilizacij/kastracij brezdomnih in prostoživečih živali. Na obeh področjih, posebej še na področju sterilizacij/kastracij, želimo aktivno delovati.</p>
      <p>Še naprej želimo, kot že vsa leta, uspešno sodelovati s prostovoljci in začasnimi skrbniki - prostovoljci, ki bodo delovali v korist živali in sprejeli standarde, ki bodo za vse enotni (na področjih prehrane, veterinarske oskrbe in iskanja primernih posvojiteljev).</p>
      <p>Kot vedno smo odprti smo za predloge in sodelovanje.</p>
      <p>En velik HVALA vsem, ki nam pomagate!</p>
      <p>Zavod Mačja hiša, 07.04.2013</p>
      <hr class="content_title_subhr" />
      <div class="podatki">
        <p><strong>Naši podatki:</strong></p>
        <p>Zavod Mačja hiša, zavod za oskrbo mačk in osveščanje</p>
        <p>Groharjeva ulica 8</p>
        <p>SI-3000 Celje</p>
        <p>GSM: 040 937 959</p>
        <p>E-pošta: info@macjahisa.si</p>
        <p>Matična številka: 3636569000</p>
        <p>Davčna številka: 65283503</p>
        <p>IBAN: SI56 6100 0000 2600 529, odprt pri Delavski hranilnici</p>
      </div>
    </div>


<% include ../partials/sidebar %>
<% include ../partials/footer %>
