*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html, body {
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  @include breakpoint-768-max {
    padding-top: $navbar-height-mobile;
  }

  font-family: "Open Sans", sans-serif;
  min-height: 100%;
  padding-top: $navbar-height;

  &.navbar_fixed {
    overflow-y: hidden;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;

  &:focus {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
  }
}

button {
  &:focus {
    outline: none;
  }
}

iframe {
  max-width: 100%;
}
