// Hover
.hover-primary {
    &:hover {
        color: $primary !important;
    }
}

.hover-sepia {
    &:hover {
        filter: sepia(40%);
    }
}

// Text shadow
.text-shadow {
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}