<% include ../../partials/admin/header %>
<div class="header d-flex flex-row justify-content-between align-items-center">
  <h1 class="p-2 badge badge-secondary">Kontakti</h1>
  <a href="/admin/kontakti/add"><button class="btn btn-warning addOrEditButton">Dodaj nov kontakt >></button></a>
</div>
<hr class="header-divider" />

<table id="tabela" class="display">
    <thead>
        <tr>
            <th>Ime</th>
            <th>E-mail</th>
            <th>Telefon</th>
            <th>Uredi podatke</th>
        </tr>
    </thead>
    <tbody>
        <% kontakti.forEach(function(kontakt) { %>
          <tr>
              <td><%= kontakt.ime %></td>
              <td><%= kontakt.email %></td>
              <td><%= kontakt.tel %></td>
              <td><a href="/admin/kontakti/<%= kontakt._id %>/edit"><i class="fas fa-edit" aria-hidden="true"></i></a></td>
          </tr>
        <% }) %>
    </tbody>
</table>



<% include ../../partials/admin/footer %>
