<% include ../partials/header %>
<div class="nonindex">
  <div class="container_full">
    <div class="content">

      <h1 class="content_heading">Muce, ki iščejo dom</h1>
      <hr class="content_title_subhr" />
        <div class="intro">
          <p>Na tej strani so predstavljene mačke, ki iščejo novega, skrbnega lastnika. Rubrika je redno ažurirana - če je žival na seznamu, potem se oddaja.</p>
          <p>Če ste zainteresirani za posvojitev, preberite <strong><a href="/posvojitev/pogoji_in_postopek" target="_blank">posvojitvene pogoje</a></strong>, razmislite o
            svojih zmožnostih ter pokličite številko zraven oglasa ali <a href="/o_nas/zavetisce_mh" target="_blank">nas konktaktirajte</a> za dodatne informacije.</p>
        </div>
      <!-- SEARCH FILTERS -->
        <div class="muce_filter">
          <div class="muce_filter_group">
            <form>
                <div>
                  <strong>Starost:</strong>
                  <input type="checkbox" checked>
                  <label for="under1">do 1. leta</label>
                  <input type="checkbox" checked>
                  <label for="above1">od 1. leta dalje</label>
                </div>
            </form>
          </div>
          <div class="muce_filter_group">
            <form>
                <div>
                  <strong>Način posvojitve:</strong>
                  <input type="checkbox" checked>
                  <label for="solo">posebej</label>
                  <input type="checkbox" checked>
                  <label for="pair">v paru</label>
                </div>
            </form>
          </div>
          <div class="muce_filter_group">
            <input type="text" placeholder="Išči po imenu..." />
          </div>
        </div>
      <!-- END SEARCH FILTERS -->

      <!-- BEGIN LIST -->
      <div class="muce_seznam">
        <div class="muca">
          <h2>Muca #1</h2>
          <div class="muca_img"><img src="/images/c1.jpg" /></div>
          <div class="vet_status">
            <img src="/images/samicka.png" />
            <img src="/images/felvminus.png" />
            <img src="/images/fivminus.png" />
          </div>
          <p><strong>Starost:</strong> ne povemo</p>
          <p class="cat_more">
            Spoznaj me <i class="fa fa-caret-right" aria-hidden="true"></i>
          </p>
        </div>
        <div class="muca">
          <h2>Muca #2</h2>
          <div class="muca_img"><img src="/images/c2.jpg" /></div>
          <div class="vet_status">
            <img src="/images/samcek.png" />
            <img src="/images/felvminus.png" />
            <img src="/images/fivminus.png" />
          </div>
          <p><strong>Starost:</strong> več kot 0 mesecev</p>
          <p class="cat_more">
            Spoznaj me <i class="fa fa-caret-right" aria-hidden="true"></i>
          </p>
        </div>
        <div class="muca">
          <h2>Muca #3</h2>
          <div class="muca_img"><img src="/images/c3.jpg" /></div>
          <div class="vet_status">
            <img src="/images/samcek.png" />
            <img src="/images/felvplus.png" />
            <img src="/images/fivminus.png" />
          </div>
          <p><strong>Starost:</strong> ne povemo</p>
          <p class="cat_more">
            Spoznaj me <i class="fa fa-caret-right" aria-hidden="true"></i>
          </p>
        </div>
        <div class="muca">
          <h2>Muca #4</h2>
          <div class="muca_img"><img src="/images/c7.jpg" /></div>
          <div class="vet_status">
            <img src="/images/samicka.png" />
            <img src="/images/felvminus.png" />
            <img src="/images/fivminus.png" />
          </div>
          <p><strong>Starost:</strong> ne povemo</p>
          <p class="cat_more">
            Spoznaj me <i class="fa fa-caret-right" aria-hidden="true"></i>
          </p>
        </div>
        <div class="muca">
          <h2>Muca #5</h2>
          <div class="muca_img"><img src="/images/c5.jpg" /></div>
          <div class="vet_status">
            <img src="/images/samcek.png" />
            <img src="/images/felvplus.png" />
            <img src="/images/fivminus.png" />
          </div>
          <p><strong>Starost:</strong> ne povemo</p>
          <p class="cat_more">
            Spoznaj me <i class="fa fa-caret-right" aria-hidden="true"></i>
          </p>
        </div>
        <div class="muca">
          <h2>Muca #6</h2>
          <div class="muca_img"><img src="/images/c6.jpg" /></div>
          <div class="vet_status">
            <img src="/images/samicka.png" />
            <img src="/images/felvminus.png" />
            <img src="/images/fivplus.png" />
          </div>
          <p><strong>Starost:</strong> ne povemo</p>
          <p class="cat_more">
            Spoznaj me <i class="fa fa-caret-right" aria-hidden="true"></i>
          </p>
        </div>
        <div class="muca">
          <h2>Muca #7</h2>
          <div class="muca_img"><img src="/images/c4.jpg" /></div>
          <div class="vet_status">
            <img src="/images/samcek.png" />
            <img src="/images/felvminus.png" />
            <img src="/images/fivminus.png" />
          </div>
          <p><strong>Starost:</strong> ne povemo</p>
          <p class="cat_more">
            Spoznaj me <i class="fa fa-caret-right" aria-hidden="true"></i>
          </p>
        </div>
        <div class="muca">
          <h2>Muca #8</h2>
          <div class="muca_img"><img src="/images/c8.jpg" /></div>
          <div class="vet_status">
            <img src="/images/samicka.png" />
            <img src="/images/felvplus.png" />
            <img src="/images/fivplus.png" />
          </div>
          <p><strong>Starost:</strong> ne povemo</p>
          <p class="cat_more">
            Spoznaj me <i class="fa fa-caret-right" aria-hidden="true"></i>
          </p>
        </div>
        <div class="muca">
          <h2>Muca #9</h2>
          <div class="muca_img"><img src="/images/c9.jpg" /></div>
          <div class="vet_status">
            <img src="/images/samicka.png" />
            <img src="/images/felvminus.png" />
            <img src="/images/fivplus.png" />
          </div>
          <p><strong>Starost:</strong> ne povemo</p>
          <p class="cat_more">
            Spoznaj me <i class="fa fa-caret-right" aria-hidden="true"></i>
          </p>
        </div>
      </div>
      <!-- END LIST -->
      <div class="muce_nav">
        [1] [2] [3] ... [>] [>>]
      </div>

    </div><!--end content-->
  </div><!--end container-full-->
</div><!--end nonindex div-->
<% include ../partials/footer %>
