<% include ../partials/header %>
<% include ../partials/nonindex %>
<h1 class="content_heading" id="muca_name">Muca #1</h1>
<hr class="content_title_subhr" id="name_hr" />
<p id="muce_back"><a href="/posvojitev/muce"><strong><i class="fa fa-undo" aria-hidden="true"></i> nazaj na seznam</strong></a></p>
<div class="cat_full">
  <div class="photos">
    <img src="/images/c1_big.jpg" />
  </div>
  <div class="data">
    <div class="data_basic">
      <div class="data_header"><h3>Osnovni podatki</h3></div>
      <div class="data_row">
        <div class="row_def">Spol</div>
        <div class="row_val"><i class="fa fa-venus" aria-hidden="true"></i> samička</div>
      </div>
      <div class="data_row">
        <div class="row_def">Starost</div>
        <div class="row_val"><i class="fa fa-paw" aria-hidden="true"></i> še ni znano</div>
      </div>
      <div class="data_row">
        <div class="row_def">Datum sprejema</div>
        <div class="row_val"><i class="fa fa-calendar" aria-hidden="true"></i> 1. 1. 2018</div>
      </div>
    </div>
    <div class="data_vet">
      <div class="data_header"><h3>Veterinarski status</h3></div>
      <div class="data_row">
        <div class="row_def">Sterilizirana</div>
        <div class="row_val"><i class="fa fa-check" aria-hidden="true"></i></div>
      </div>
      <div class="data_row">
        <div class="row_def">Čipirana</div>
        <div class="row_val"><i class="fa fa-check" aria-hidden="true"></i></div>
      </div>
      <div class="data_row">
        <div class="row_def">Cepljena</div>
        <div class="row_val"><i class="fa fa-check" aria-hidden="true"></i></div>
      </div>
      <div class="data_row">
        <div class="row_def">Razparazitena</div>
        <div class="row_val"><i class="fa fa-times" aria-hidden="true"></i></div>
      </div>
      <div class="data_row">
        <div class="row_def">FeLV</div>
        <div class="row_val">negativna</div>
      </div>
      <div class="data_row">
        <div class="row_def">FIV</div>
        <div class="row_val">pozitivna</div>
      </div>
    </div>
    <div class="vet_expl">
      <strong><a href="#"><i class="fa fa-question-circle" aria-hidden="true"></i> Razlaga veterinarskih pojmov</a></strong>
    </div>
  </div>
  <div class="desc">
    <h2>O meni:</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    <div class="contact">
      <p><span class="orange"><strong>Kontakt:</strong></span></p>
      <p><a href="mailto:info@macjahisa.si"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@macjahisa.si</a></p>
      <p><a href="tel:040937959"><i class="fa fa-phone" aria-hidden="true"></i> 040 937 959</a></p>
    </div>
    <p class="boter_true"><em>Muca je na voljo za <strong>posvojitev na daljavo</strong>. Če jo želite posvojiti na daljavo, lahko to storite preko <a onclick="this.target='_blank'" href="http://www.macjiboter.si/posvojitev_na_daljavo_obrazec.php?id=1637">spletnega obrazca</a> in postanete mačji boter. Preberite si več o <a onclick="this.target='_blank'" href="http://www.macjiboter.si/o_macjem_botru.php">projektu Mačji boter</a>.</em></p>
  </div>
</div>
<% include ../partials/sidebar %>
<% include ../partials/footer %>
