.fundraiser-landing {
    section {
        @extend .mb-6;
    }

    &-hero {
        @include background-image-cover("../../../public/images/backgrounds/cat_house.jpg");
        background-position-y: bottom;
        height: 700px;
    }

    &-content-wrapper {
        z-index: 1;
    }

    &-expo {
        margin-top: -80px;
    }

    &-progress-bar {
        > .progress {
            height: 40px;
        }
    }
}