.fundraiser-landing {
    section {
        @extend .mb-5, .mb-md-6;
    }

    &-hero {
        @include background-image-cover-properties;
        @include breakpoint-769-min {
            height: 700px;
            padding-bottom: 100px;
        }
        height: 450px;
    }

    &-content-wrapper {
        z-index: 1;
    }

    &-expo {
        margin-top: -80px;
    }

    &-progress-bar {
        > .progress {
            position: relative;
            height: 40px;

            i {
                font-size: 1.75rem;
                color: $gray-500;
                position: absolute;
                right: 0.5rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}