<% include ../../partials/admin/header %>
<p><a href="/admin/menu"><< Nazaj</a></p>
<h3>Dodaj kategorijo</h3>

<form action="/admin/menu" method="POST">
  <div>
    Naslov: <input type="text" name="naslov" id="naslov" />
  </div>
  <div>
    URL: <input type="text" name="url" id="url" />
  </div>
  <input type="submit" value="Dodaj">
</form>




<% include ../../partials/admin/footer %>
