<% include ../../partials/admin/header %>
<p><a href="/admin/menu"><< Nazaj</a></p>
<h3>Dodaj kategorijo</h3>

<form action="/admin/menu" method="POST">
  <div class="required">
    Naslov: <input type="text" name="naslov" id="naslov" required/>
  </div>
  <div class="required">
    URL: <input type="text" name="url" id="url" required/>
  </div>
  <input type="submit" value="Dodaj">
</form>




<% include ../../partials/admin/footer %>
