<% include ../../partials/admin/header %>

<h3>Nova kategorija</h3>

<form action="/admin/menu" method="POST">
  <div>
    Naslov: <input type="text" name="naslov" id="naslov" />
  </div>
  <input type="submit" value="Dodaj">
</form>







<% include ../../partials/admin/footer %>
