<% include ../../partials/admin/header %>

<h3>Urejanje menija</h3>
<p style="color: gray;">+ Dodaj novo kategorijo <em>(zaenkrat onemogočeno)</em></p>
<hr />
<div class="kategorije">
  <% kategorije.forEach(function(kategorija) { %>
    <div class="kategorija">
      <strong><%= kategorija.naslov %>
        <a href="/admin/menu/<%= kategorija._id %>/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></strong>
      <ul>
        <% podstrani.forEach(function(podstran){ %>
          <% if (podstran.kategorija.equals(kategorija._id)) { %>
            <li><%= podstran.naslov %></li>
          <% } %>

        <% }); %>
      </ul>
    </div>
  <% }); %>
</div>
<% include ../../partials/admin/footer %>
