<% include ../partials/header %>
<% include ../partials/nonindex %>

<h1 class="content_heading"><%= podstran.naslov %></h1>
<hr class="content_title_subhr" />

<%- podstran.vsebina %>

<% include ../partials/sidebar %>
<% include ../partials/footer %>
