<% include ../../partials/admin/header %>
<p><a href="/admin/oskrbnice"><< Nazaj</a></p>
<h3>Nov mail</h3>

<form action="/admin/oskrbnice" method="POST">
  <div>
    <label for="oskrbnica[ime]">Ime:</label>
    <input type="text" name="oskrbnica[ime]" id="ime" autofocus required/>
  </div>
  <div>
    <label for="oskrbnica[email]">E-mail:</label>
    <input type="text" name="oskrbnica[email]" id="email" required/>
  </div>
  <div>
    <label for="aktivna">Aktivna:</label>
    <select id="aktivna" name="oskrbnica[aktivna]">
      <option value="Da" selected>Da</option>
      <option value="Ne">Ne</option>
    </select>
  </div>
  <input type="submit" value="Dodaj">
</form>

<% include ../../partials/admin/footer %>
