<% include ../../partials/admin/header %>
<div class="header d-flex flex-row justify-content-between align-items-center">
  <h1 class="p-2 badge badge-secondary">Oskrbnice</h1>
  <a href="/admin/oskrbnice/add"><button class="btn btn-warning addOrEditButton">Dodaj nov email naslov >></button></a>
</div>
<h6>Na spodnje e-mail naslove bodo poslana samodejna obvestila ob odhodu muc v nov dom.</h6>
<hr class="header-divider" />

<table id="tabela" class="display">
    <thead>
        <tr>
            <th>Ime</th>
            <th>E-mail</th>
            <th>Aktivna</th>
            <th>Uredi podatke</th>
        </tr>
    </thead>
    <tbody>
        <% oskrbnice.forEach(function(oskrbnica) { %>
          <tr>
              <td><%= oskrbnica.ime %></td>
              <td><%= oskrbnica.email %></td>
              <td><%= oskrbnica.aktivna %></td>
              <td><a href="/admin/oskrbnice/<%= oskrbnica._id %>/edit"><i class="fas fa-edit" aria-hidden="true"></i></a></td>
          </tr>
        <% }) %>
    </tbody>
</table>



<% include ../../partials/admin/footer %>
