<% include ../../partials/admin/header %>
<a class="p-2 badge badge-info backToIndex" href="/admin/izobrazevalne-vsebine"><i class="fas fa-arrow-left"></i> Nazaj</a>
<div class="header-addOrEdit d-flex flex-row justify-content-between align-items-center">
  <h1 class="p-2 badge badge-warning">Nova izobraževalna vsebina</h1>
</div>
<hr class="header-divider" />

<form action="/admin/izobrazevalne-vsebine" method="POST" enctype="multipart/form-data">
  <div class="required form-group">
    <label for="vsebina[naslov]">Naslov:</label>
    <input class="form-control" type="text" name="vsebina[naslov]" id="naslov" size="70" autofocus required/>
    <small class="form-text text-muted">Naslov bo prikazan na seznamu izobraževalnih vsebin.</small>
  </div>
  <div class="required form-group">
    <label for="datum">Datum objave (najnovejše objave so prikazane prve):</label>
    <input class="form-control" type="date" id="datum" name="vsebina[datum]" value="" required/>
    <small class="form-text text-muted">Najnovejše objave so na seznamu prikazane prve.</small>
  </div>
  <div class="required form-group">
    <label for="vsebina[datoteka]">Datoteka:</label>
    <input class="form-control-file" type="file" accept="application/msword application/pdf" name="vsebina[datoteka]" id="datoteka" size="70" required/>
    <small class="form-text text-muted">Dovoljene so samo PDF ali Microsoft Word (.doc/.docx) datoteke.</small>
  </div>
  <div class="required form-group">
    <label for="vsebina[naslovna_slika]">Naslovna slika:</label>
    <input class="form-control-file" type="file" accept="image/*" name="vsebina[naslovna_slika]" id="naslovna_slika" size="70" required/>
    <small class="form-text text-muted">Slika, ki bo prikazana ob vsebini na spletni strani.</small>
  </div>
  <div class="required form-group">
    <label for="vsebina[kategorija]">Kategorija:</label>
    <select class="form-control" id="kategorija" name="vsebina[kategorija]">
      <option value="zbirka-macje-hise" selected>Zbirka Mačje hiše</option>
      <option value="letaki">Letaki</option>
    </select>
    <small class="form-text text-muted">Določi, ali bo vsebina na seznamu <strong>Zbirke MH</strong> (<a href="https://macjahisa.si/dobro-je-vedeti/zbirka-macje-hise" target="_blank">http://macjahisa.si/dobro-je-vedeti/zbirka-macje-hise</a>) ali na seznamu <strong>letakov</strong> (<a href="http://macjahisa.si/dobro-je-vedeti/letaki" target="_blank">http://macjahisa.si/dobro-je-vedeti/letaki</a>).</small>
  </div>
  <div class="required form-group">
    <label for="vsebina[objava]">Objava:</label>
    <select class="form-control" id="objava" name="vsebina[objava]">
      <option value="1" selected>Da</option>
      <option value="0">Ne</option>
    </select>
    <small class="form-text text-muted">Določi, ali bo vsebina prikazana na spletni strani.</small>
  </div>
  <hr></hr>
  <input type="submit" class="btn btn-secondary" value="Dodaj">
</form>

<% include ../../partials/admin/footer %>
