<% include ../partials/header %>
<div class="nonindex">
  <div class="container">
    <div class="content">
    <h1 class="content_heading"><%= clanek.naslov %></h1>
    <hr class="content_title_subhr" />

    <%- clanek.vsebina %>

    

<% include ../partials/sidebar %>
<% include ../partials/footer %>
