<% include ../../partials/admin/header %>
<p><a href="/admin/podstrani"><< Nazaj</a></p>
<h3>Nova podstran</h3>

<form action="/admin/podstrani" method="POST">
  <div class="required">
    <label for="podstran[naslov]">Naslov:</label>
    <input type="text" name="podstran[naslov]" id="naslov" autofocus required/>
    <em>(prikazano v meniju, na vrhu podstrani in kot naslov zavihka)</em>
  </div>
  <div class="required">
    <label for="podstran[url]">URL:</label>
    <input type="text" name="podstran[url]" id="url" required/>
    (zapiši v formatu <em><span style="color: red;">naslov_strani_in_tako_dalje</span></em> - <strong>brez presledkov, šumnikov ali posebnih simbolov</strong>)
  </div>
  <div>
    <label for="podstran[objava]">Vključena v menu:</label>
    <select id="podstran[objava]" name="podstran[objava]">
      <option value="Da">Da</option>
      <option value="Ne">Ne</option>
    </select>
  </div>
  <div>
    <label for="podstran[kategorija]">Kategorija:</label>
    <select id="kategorija" name="podstran[kategorija]">
      <% kategorije.forEach(function(kategorija){ %>
        <option value="<%= kategorija._id %>"><%= kategorija.naslov %></option>
      <% }); %>
    </select>
  </div>
  <div>
    <label for="podstran[portal]">Portal:</label>
    <select id="portal" name="podstran[portal]">
        <option value="M" selected>Mačja hiša</option>
        <option value="B" disabled>Mačji boter</option>
    </select>
    <em>(zaenkrat pusti)</em>
  </div>
  <div class="required">
    <label for="podstran[vsebina]">Vsebina:</label>
    <textarea name="podstran[vsebina]" id="summernote" required></textarea>
  </div>
  <input type="submit" value="Dodaj">
</form>

<% include ../../partials/admin/footer %>
