<% include ../../partials/admin/header %>
<p><a href="/admin/podstrani"><< Nazaj</a></p>
<h3>Nova podstran</h3>

<form action="/admin/podstrani" method="POST">
  <div class="required">
    <label for="podstran[naslov]">Naslov:</label>
    <input type="text" name="podstran[naslov]" id="naslov" autofocus required/>
    <em>(prikazano v meniju, na vrhu podstrani in kot naslov zavihka)</em>
  </div>
  <div class="required">
    <label for="podstran[url]">URL:</label>
    <input type="text" name="podstran[url]" id="url" required/>
    (zapiši v formatu <em><span style="color: red;">naslov_strani_in_tako_dalje</span></em> - <strong>brez presledkov, šumnikov ali posebnih simbolov</strong>)
  </div>
  <div>
    <label for="podstran[objava]">Vključena v menu:</label>
    <select id="podstran[objava]" name="podstran[objava]">
      <option value="Da">Da</option>
      <option value="Ne">Ne</option>
    </select>
  </div>
  <div>
    <label for="podstran[kategorija]">Kategorija:</label>
    <select id="kategorija" name="podstran[kategorija]">
      <% kategorije.forEach(function(kategorija){ %>
        <option value="<%= kategorija._id %>"><%= kategorija.naslov %></option>
      <% }); %>
    </select>
  </div>
  <div>
    <label for="podstran[portal]">Portal:</label>
    <select id="portal" name="podstran[portal]">
        <option value="M" selected>Mačja hiša</option>
        <option value="B" disabled>Mačji boter</option>
    </select>
    <em>(zaenkrat pusti)</em>
  </div>
  <div class="required">
    <label for="podstran[vsebina]">Vsebina:</label>
    <textarea name="podstran[vsebina]" id="summernote" required></textarea>
  </div>

  <!-- METADATA -->
  <hr />
  <h4>Metapodatki:</h4>
  <button type="button" id="generatePageMetaDataButton" class="btn btn-warning">Generiraj iz opisa / besedila</button>
    <!-- Default SEO -->
    <div>
      <label for="SEOmetaTitle">SEO meta naziv:</label><br />
      <input class="SEOinputField" type="text" id="SEOmetaTitle" name="podstran[SEOmetaTitle]" size="40"/>
      <span class="SEOtextlength">Dolžina: <span class="charLength" id="SEOmetaTitleLength">0</span> znakov</span>
    </div>
    <div >
      <label for="SEOmetaDescription">SEO meta opis:</label><br />
      <textarea class="SEOinputField" rows="6" cols="90" id="SEOmetaDescription" name="podstran[SEOmetaDescription]"></textarea>
      <span class="SEOtextlength">Dolžina: <span class="charLength" id="SEOmetaDescriptionLength">0</span> znakov</span>
    </div>
    <!-- Facebook -->
    <div>
      <label for="SEOfbTitle">Facebook meta naziv:</label><br />
      <input class="SEOinputField" type="text" id="SEOfbTitle" name="podstran[SEOfbTitle]" size="40"/>
      <span class="SEOtextlength">Dolžina: <span class="charLength" id="SEOfbTitleLength">0</span> znakov</span>
    </div>
    <div >
      <label for="SEOfbDescription">Facebook meta opis:</label><br />
      <textarea class="SEOinputField" rows="6" cols="90" id="SEOfbDescription" name="podstran[SEOfbDescription]"></textarea>
      <span class="SEOtextlength">Dolžina: <span class="charLength" id="SEOfbDescriptionLength">0</span> znakov</span>
    </div>
    <!-- Twitter -->
    <div>
      <label for="SEOtwitterTitle">Twitter meta naziv:</label><br />
      <input class="SEOinputField" type="text" id="SEOtwitterTitle" name="podstran[SEOtwitterTitle]" size="40"/>
      <span class="SEOtextlength">Dolžina: <span class="charLength" id="SEOtwitterTitleLength">0</span> znakov</span>
    </div>
    <div >
      <label for="SEOtwitterDescription">Twitter meta opis:</label><br />
      <textarea class="SEOinputField" rows="6" cols="90" id="SEOtwitterDescription" name="podstran[SEOtwitterDescription]"></textarea>
      <span class="SEOtextlength">Dolžina: <span class="charLength" id="SEOtwitterDescriptionLength">0</span> znakov</span>
    </div>
  <hr />

  <input type="submit" value="Dodaj">
</form>

<% include ../../partials/admin/footer %>
