// Dimensions
$navbar-height: 75px;
$navbar-height-mobile: 55px;

// Colors
$color-white: #fff;
$color-black: #000;
$color-midgray: #848484;
$color-darkgray: #1f1f1f;
$color-darkgray-blue: #343a40;
$border-light-color: rgba(0, 0, 0, 0.08);
$button-hover-lightgray-color: #e5e5e5;
$menu-large-hover-color: #595959;

// RFS
$rfs-breakpoint: 1920px !default;
$rfs-breakpoint-unit: px !default;
$rfs-rem-value: 16 !default;
$rfs-unit: px !default;

// Bootstrap overrides
$spacer: 1rem !default;
$spacers: (
    6: ($spacer * 4)
) !default;

$nav-tabs-link-active-border-color: $color-black;
$nav-tabs-link-active-border-width: 2px;