<% include ../partials/header %>
<% include ../partials/nonindex %>

    <h2 class="novica_naslov"><%= novica.naslov %></h2>
    <h3 class="novica_datum"><%= moment(novica.datum).format("DD[.]MM[.]YYYY") %></h3>

    <%- novica.vsebina %>

    <%= titleIsHidden %>

<% include ../partials/sidebar %>
<% include ../partials/footer %>
