<% include ../partials/header %>
<div class="nonindex">
  <div class="container">
    <div class="content">
    <h2 class="content_heading"><%= novica.naslov %></h2>
    <hr class="content_title_subhr" />

    <%- novica.vsebina %>
    <p id="muce_back"><a href="/novice"><strong><i class="fa fa-undo" aria-hidden="true"></i> nazaj</strong></a></p>
<% include ../partials/sidebar %>
<% include ../partials/footer %>
