<% include ../partials/header %>
<div class="nonindex">
  <div class="container">
    <div class="content">
    <h2 class="content_heading"><%= novica.naslov %></h2>
    <hr class="content_title_subhr" />

    <%- novica.vsebina %>
    <div class="fb-like"
      data-href="<%= social_url %>"
      data-layout="button"
      data-action="like"
      data-show-faces="true">
    </div>
    <div class="fb-share-button"
      data-href="<%= social_url %>"
      data-layout="button">
    </div>
<% include ../partials/sidebar %>
<% include ../partials/footer %>
