<% include ../../partials/admin/header %>
<p><a href="/admin/novice"><< Nazaj</a></p>
<h3>Dodaj novico</h3>

<form action="/admin/novice" method="POST" enctype="multipart/form-data">
  <div>
    <label for="novica[naslov]">Naslov:</label>
    <input type="text" name="novica[naslov]" id="naslov" size="70" autofocus required/>
  </div>
  <div>
    <label for="novica[naslovna_slika]">Naslovna slika:</label>
    <input type="file" name="novica[naslovna_slika]" id="naslovna_slika" size="70" required/>
  </div>
  <div>
    <label for="novica[objava]">Objava:</label>
    <select id="objava" name="novica[objava]">
      <option value="1">Da</option>
      <option value="0">Ne</option>
    </select>
  </div>
  <div>
    <label for="novica[vsebina]">Vsebina:</label>
    <textarea name="novica[vsebina]" id="summernote" required></textarea>
  </div>
  <input type="submit" value="Potrdi spremembe">
</form>

<% include ../../partials/admin/footer %>
