.navbar {
  height: 75px; }
  .navbar > .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 5px 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.08); }
    .navbar > .logo img {
      height: 55px; }
  .navbar > .nav_menu {
    display: flex;
    justify-content: flex-end;
    width: 100%; }
    .navbar > .nav_menu > .nav_menu_primary {
      display: flex;
      align-items: center;
      margin-right: auto; }
      .navbar > .nav_menu > .nav_menu_primary > ul {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center; }
        .navbar > .nav_menu > .nav_menu_primary > ul > li.nav_menu_primary_category {
          position: relative;
          line-height: 75px;
          border-right: 1px solid rgba(0, 0, 0, 0.08);
          background-color: #fff;
          font-family: Nunito, sans-serif;
          font-weight: 700;
          font-weight: 600;
          font-size: 19px;
          transition: all 0.15s ease; }
          .navbar > .nav_menu > .nav_menu_primary > ul > li.nav_menu_primary_category:hover {
            background-color: #595959; }
            .navbar > .nav_menu > .nav_menu_primary > ul > li.nav_menu_primary_category:hover > a.kat_toggle {
              color: #f2f2f2; }
          .navbar > .nav_menu > .nav_menu_primary > ul > li.nav_menu_primary_category > a.kat_toggle {
            margin: 0 20px;
            padding: 0;
            font-weight: bold;
            color: #343a40;
            transition: none; }
          .navbar > .nav_menu > .nav_menu_primary > ul > li.nav_menu_primary_category > ul {
            list-style: none;
            display: none;
            top: auto;
            width: 220px;
            position: absolute;
            z-index: 9900;
            text-align: left;
            background: #fff;
            margin: 0;
            padding: 0;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px; }
            .navbar > .nav_menu > .nav_menu_primary > ul > li.nav_menu_primary_category > ul > li {
              transition: all 0.15s ease;
              background: #fff;
              width: 245px;
              padding: 3px 0;
              line-height: normal;
              border-bottom: 1px solid rgba(0, 0, 0, 0.08);
              border-left: 1px solid rgba(0, 0, 0, 0.08);
              border-right: 1px solid rgba(0, 0, 0, 0.08); }
              .navbar > .nav_menu > .nav_menu_primary > ul > li.nav_menu_primary_category > ul > li:first-of-type {
                border-top: 1px solid rgba(0, 0, 0, 0.08); }
              .navbar > .nav_menu > .nav_menu_primary > ul > li.nav_menu_primary_category > ul > li:last-of-type {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px; }
              .navbar > .nav_menu > .nav_menu_primary > ul > li.nav_menu_primary_category > ul > li:hover {
                background-color: #e5e5e5; }
              .navbar > .nav_menu > .nav_menu_primary > ul > li.nav_menu_primary_category > ul > li > a {
                display: block;
                padding: 10px 15px;
                color: #1f1f1f;
                font-size: 1rem;
                font-weight: 500; }
        .navbar > .nav_menu > .nav_menu_primary > ul .nav_menu_secondary_mobile {
          display: none; }
    .navbar > .nav_menu > .nav_menu_secondary {
      display: flex;
      align-items: center; }
      .navbar > .nav_menu > .nav_menu_secondary > ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0; }
        .navbar > .nav_menu > .nav_menu_secondary > ul > li a {
          padding: 0 15px 0 0;
          font-weight: 300;
          color: #848484;
          font-size: 16px;
          letter-spacing: 0.1px; }
          .navbar > .nav_menu > .nav_menu_secondary > ul > li a:hover {
            color: #000; }
    .navbar > .nav_menu > .nav_search {
      display: flex;
      width: 200px;
      align-items: center; }
      .navbar > .nav_menu > .nav_search #___gcse_0 {
        width: 100%; }
        .navbar > .nav_menu > .nav_search #___gcse_0 .gsc-control-cse.gsc-control-cse-sl {
          padding-left: 0;
          padding-right: 0; }
          .navbar > .nav_menu > .nav_search #___gcse_0 .gsc-control-cse.gsc-control-cse-sl .gsc-control-wrapper-cse {
            width: 100%; }
            .navbar > .nav_menu > .nav_search #___gcse_0 .gsc-control-cse.gsc-control-cse-sl .gsc-control-wrapper-cse form.gsc-search-box.gsc-search-box-tools {
              height: 40px; }
              .navbar > .nav_menu > .nav_search #___gcse_0 .gsc-control-cse.gsc-control-cse-sl .gsc-control-wrapper-cse form.gsc-search-box.gsc-search-box-tools table.gsc-search-box {
                margin-bottom: 0 !important; }
                .navbar > .nav_menu > .nav_search #___gcse_0 .gsc-control-cse.gsc-control-cse-sl .gsc-control-wrapper-cse form.gsc-search-box.gsc-search-box-tools table.gsc-search-box td.gsc-input {
                  padding-right: 0 !important; }
                  .navbar > .nav_menu > .nav_search #___gcse_0 .gsc-control-cse.gsc-control-cse-sl .gsc-control-wrapper-cse form.gsc-search-box.gsc-search-box-tools table.gsc-search-box td.gsc-input > .gsc-input-box {
                    border: 1px solid rgba(0, 0, 0, 0.2) !important;
                    border-right: none !important; }
                    .navbar > .nav_menu > .nav_search #___gcse_0 .gsc-control-cse.gsc-control-cse-sl .gsc-control-wrapper-cse form.gsc-search-box.gsc-search-box-tools table.gsc-search-box td.gsc-input > .gsc-input-box .gsib_a {
                      font-family: "Open Sans", serif !important;
                      font-weight: 300 !important;
                      font-size: 18px !important; }
                      .navbar > .nav_menu > .nav_search #___gcse_0 .gsc-control-cse.gsc-control-cse-sl .gsc-control-wrapper-cse form.gsc-search-box.gsc-search-box-tools table.gsc-search-box td.gsc-input > .gsc-input-box .gsib_a > .gsc-input {
                        font-size: 16px !important;
                        font-family: "Open Sans", serif !important;
                        font-weight: 300 !important;
                        border: none !important;
                        margin: 0 0 1px 0 !important;
                        color: #333 !important;
                        padding: 10px 10px 10px 5px !important;
                        height: 15px !important;
                        background: 0 0 !important; }
                        .navbar > .nav_menu > .nav_search #___gcse_0 .gsc-control-cse.gsc-control-cse-sl .gsc-control-wrapper-cse form.gsc-search-box.gsc-search-box-tools table.gsc-search-box td.gsc-input > .gsc-input-box .gsib_a > .gsc-input::placeholder {
                          font: 300 16px "Open Sans", serif !important;
                          line-height: 16px !important; }
                    .navbar > .nav_menu > .nav_search #___gcse_0 .gsc-control-cse.gsc-control-cse-sl .gsc-control-wrapper-cse form.gsc-search-box.gsc-search-box-tools table.gsc-search-box td.gsc-input > .gsc-input-box .gsib_b .gscb_a {
                      font-size: 24px !important;
                      color: #333 !important; }
                .navbar > .nav_menu > .nav_search #___gcse_0 .gsc-control-cse.gsc-control-cse-sl .gsc-control-wrapper-cse form.gsc-search-box.gsc-search-box-tools table.gsc-search-box td.gsc-search-button {
                  margin: 0 !important;
                  width: 16px !important;
                  padding: 0 10px 0 0 !important;
                  border: 1px solid rgba(0, 0, 0, 0.2) !important;
                  border-left: none !important;
                  font-size: 20px !important; }
                  .navbar > .nav_menu > .nav_search #___gcse_0 .gsc-control-cse.gsc-control-cse-sl .gsc-control-wrapper-cse form.gsc-search-box.gsc-search-box-tools table.gsc-search-box td.gsc-search-button .gsc-search-button {
                    border: none !important;
                    margin: 0 !important;
                    width: 16px !important;
                    padding: 0 !important; }
  .navbar > .nav_donate {
    margin-left: auto;
    padding: 0 15px;
    z-index: 998; }
    .navbar > .nav_donate form {
      height: 100%; }
      .navbar > .nav_donate form button {
        font-family: "Nunito", sans-serif;
        font-size: 32px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        color: #343a40;
        border: none;
        border-radius: 10px;
        height: 90px;
        width: 200px;
        padding: 0;
        margin-top: -8px; }

/*# sourceMappingURL=main.css.map */