<% include ../../partials/admin/header %>
<p><a href="/admin/clanki"><< Nazaj</a></p>
<h3>Novo besedilo</h3>

<form action="/admin/clanki" method="POST">
  <div>
    <label for="clanek[naslov]">Naslov:</label>
    <input type="text" name="clanek[naslov]" id="naslov" size="70" autofocus required/>
  </div>
  <div>
    <label for="kategorija">Kategorija:</label>
    <select id="kategorija" name="clanek[kategorija]">
      <option value="prispevki">prispevki</option>
      <option value="nasveti">nasveti</option>
      <option value="zakonodaja">zakonodaja</option>
      <option value="zdravje">zdravje</option>
    </select>
  </div>
  <div>
    <label for="clanek[objava]">Objava:</label>
    <select id="objava" name="clanek[objava]">
      <option value="1" selected>Da</option>
      <option value="0">Ne</option>
    </select>
  </div>
  <div>
    <label for="clanek[vsebina]">Vsebina:</label>
    <textarea name="clanek[vsebina]" id="summernote" required></textarea>
  </div>
  <input type="hidden" name="clanek[tip]" value="besedilo" />
  <input type="submit" value="Dodaj">
</form>

<% include ../../partials/admin/footer %>
