<% include ../../partials/admin/header %>
<a class="p-2 badge badge-info backToIndex" href="/admin/clanki"><i class="fas fa-arrow-left"></i> Nazaj</a>
<div class="header-addOrEdit d-flex flex-row justify-content-between align-items-center">
  <h1 class="p-2 badge badge-warning">Nova datoteka</h1>
</div>
<hr class="header-divider" />

<form action="/admin/clanki_upload" method="POST" enctype="multipart/form-data">
  <div class="required form-group">
    <label for="clanek[naslov]">Naslov:</label>
    <input type="text" class="form-control" name="clanek[naslov]" id="naslov" size="70" autofocus required/>
    <small class="form-text text-muted">Naslov bo prikazan na seznamu 훾lankov, prispevkov in povezav (<a href="/dobro-je-vedeti/prispevki-clanki-povezave" target="_blank">https://macjahisa.si/dobro-je-vedeti/prispevki-clanki-povezave)</a>.</small>
  </div>
  <div class="required form-group">
    <label for="kategorija">Kategorija:</label>
    <select class="form-control" id="kategorija" name="clanek[kategorija]">
      <option value="prispevki">prispevki</option>
      <option value="nasveti">nasveti</option>
      <option value="zakonodaja">zakonodaja</option>
      <option value="zdravje">zdravje</option>
    </select>
    <small class="form-text text-muted">Kategorija na seznamu 훾lankov, v kateri bo datoteka.</small>
  </div>
  <div class="required form-group">
    <label for="clanek[vsebina]">Datoteka:</label>
    <input class="form-control-file" type="file" accept="application/msword application/pdf" name="clanek[vsebina]" id="vsebina" size="70" required/>
    <small class="form-text text-muted">Dovoljene so samo PDF ali Microsoft Word (.doc/.docx) datoteke.</small>
  </div>
  <div class="required form-group">
    <label for="clanek[objava]">Objava:</label>
    <select class="form-control" id="objava" name="clanek[objava]">
      <option value="1" selected>Da</option>
      <option value="0">Ne</option>
    </select>
    <small class="form-text text-muted">Dolo훾i, ali bo datoteka prikazana na seznamu 훾lankov.</small>
  </div>
  <input type="hidden" name="clanek[tip]" value="datoteka" />
  <hr />
  <input type="submit" class="btn btn-secndary" value="Dodaj">
</form>

<% include ../../partials/admin/footer %>
