.navbar {
  height: $navbar-height;
  width: 100%;
  position: fixed;
  top: 0;
  transition: top 0.15s ease-in-out;
  background: $color-white;
  border-bottom: 1px solid $border-light-color;
  box-shadow: 0 5px 7px -4px rgba(0, 0, 0, 0.03);
  z-index: 9999;

  &.move-up {
    top: calc(-#{$navbar-height} - 8px);
  }

  > .logo {
    @extend %flex-j-center-ai-center;

    padding: 10px 20px 5px 20px;
    border-right: 1px solid $border-light-color;

    img {
      height: 55px;
    }
  }

  > .nav_menu {
    @extend %flex-j-end;
    width: 100%;

    > a.nav_menu_open {
      @include breakpoint-1420-max {
        position: relative;
        margin-right: auto;
        display: flex;
        align-items: center;
        font-size: 26px;
        padding: 15px 25px;

        &::after {
          content: "Menu";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -2.5rem;
          font-family: "Nunito", sans-serif;
          font-size: 1.15rem;
          font-weight: 600;
          text-transform: uppercase;
          opacity: 0.5;
        }
      }

      display: none;
    }

    > .nav_menu_primary {
      @include breakpoint-1420-max {
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s ease;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background: $color-white;
        z-index: 9999;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
      }

      @extend %flex-j-center;
      margin-right: auto;

      &:not(.fixed_fullscreen) {
        li.nav_menu_primary_category {
          &:hover {
            background-color: $menu-large-hover-color;

            > a.kat_toggle {
              color: $color-white;
            }

            > ul {
              display: block;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }

      &.fixed_fullscreen {
        visibility: visible;
        opacity: 1;

        > * {
          max-width: 90%;
          width: 1140px;
        }

        > .nav_menu_primary_fixed_header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 3vw 0 0 0;

          > .logo {
            img {
              height: 80px;
            }
          }

          > a.nav_menu_close {
            font-size: 32px;

            &:hover {
              color: $color-midgray;
            }
          }
        }

        > ul.nav_menu_primary_list {
          margin-top: 5vw;
          flex-direction: column;

          > li.nav_menu_primary_category {
            border-right: none;
            line-height: 55px;

            &.active {
              > a.kat_toggle {
                color: $color-midgray;

                &:after {
                  transform: rotate(-90deg);
                }
              }
            }

            &:hover {
              color: $color-midgray;
              background-color: $color-white;
              cursor: pointer;
            }

            > a.kat_toggle {
              font-size: 24px;
              margin: 0 10px;

              &:hover {
                color: $color-midgray;
              }

              &:after {
                display: inline-block;
                content: "\f0d7";
                font-family: "Font Awesome 5 Free";
                margin-left: 10px;
                transition: all 0.25s ease-in-out;
              }
            }

            > ul {
              position: initial;
              width: auto;

              > li {
                border: none;
                width: auto;
                text-align: center;

                &:first-of-type {
                  border-top: none;
                }

                &:hover {
                  background-color: $color-white;

                  > a {
                    color: $color-midgray;
                  }
                }

                > a {
                  font-size: 18px;
                }
              }
            }
          }
        }
      }

      > .nav_menu_primary_fixed_header {
        display: none;
      }

      > ul.nav_menu_primary_list {
        @extend %flex-ai-center;
        text-align: center;

        > li.nav_menu_primary_category {
          @extend %font-nunito;
          position: relative;
          line-height: $navbar-height;
          border-right: 1px solid $border-light-color;
          font-weight: 600;
          font-size: 19px;

          > a.kat_toggle {
            margin: 0 20px;
            font-weight: bold;
            color: $color-darkgray-blue;
          }

          > ul {
            @include border-radius-bottom(5px);
            display: none;
            top: auto;
            width: 220px;
            position: absolute;
            z-index: 9900;
            text-align: left;
            background: $color-white;

            > li {
              background: $color-white;
              width: 245px;
              padding: 3px 0;
              line-height: normal;
              border-bottom: 1px solid $border-light-color;
              border-left: 1px solid $border-light-color;
              border-right: 1px solid $border-light-color;

              &:first-of-type {
                border-top: 1px solid $border-light-color;
              }

              &:last-of-type {
                @include border-radius-bottom(5px);
              }

              &:hover {
                background-color: $button-hover-lightgray-color;
              }

              > a {
                display: block;
                padding: 10px 15px;
                color: $color-darkgray;
                font-size: 1rem;
                font-weight: 500;
              }
            }
          }
        }

        .nav_menu_secondary_mobile {
          display: none;
        }
      }
    }

    > .nav_menu_secondary {
      @extend %flex-ai-center;

      > ul {
        display: flex;

        > li {
          a {
            padding: 0 15px 0 0;
            font-weight: 300;
            color: $color-midgray;
            font-size: 16px;
            letter-spacing: 0.1px;

            &:hover {
              color: $color-black;
            }
          }
        }
      }
    }

    > .nav_search {
      @extend %flex-ai-center;
      width: 200px;

      #___gcse_0 {
        width: 100%;

        .gsc-control-cse.gsc-control-cse-sl {
          padding: 0 1em;

          .gsc-control-wrapper-cse {
            width: 100%;

            form.gsc-search-box.gsc-search-box-tools {
              height: 40px;
              margin-bottom: 0;

              table.gsc-search-box {
                margin-bottom: 0 !important;

                td.gsc-input {
                  padding-right: 0 !important;

                  > .gsc-input-box {
                    border: 1px solid rgba(0, 0, 0, 0.2) !important;
                    border-right: none !important;

                    .gsib_a {
                      font-family: "Open Sans", serif !important;
                      font-weight: 300 !important;
                      font-size: 18px !important;

                      > .gsc-input {
                        font-size: 16px !important;
                        font-family: "Open Sans", serif !important;
                        font-weight: 300 !important;
                        border: none !important;
                        margin: 5px 0 !important;
                        color: #333 !important;
                        padding: 10px 10px 10px 5px !important;
                        height: 15px !important;
                        background: 0 0 !important;

                        &::placeholder {
                          font: 300 16px "Open Sans", serif !important;
                          line-height: 16px !important;
                        }
                      }
                    }

                    .gsib_b {
                      .gscb_a {
                        font-size: 24px !important;
                        color: #333 !important;
                      }
                    }
                  }
                }

                td.gsc-search-button {
                  margin: 0 !important;
                  width: 16px !important;
                  padding: 0 10px 0 0 !important;
                  border: 1px solid rgba(0, 0, 0, 0.2) !important;
                  border-left: none !important;
                  font-size: 20px !important;

                  .gsc-search-button {
                    border: none !important;
                    margin: 0 !important;
                    width: 16px !important;
                    padding: 0 !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  > .nav_donate {
    margin-left: auto;
    padding: 0 15px;
    z-index: 998;

    form {
      height: 100%;

      button {
        @extend %font-nunito;
        font-size: 32px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        color: $color-darkgray-blue;
        border: none;
        border-radius: 10px;
        height: 90px;
        width: 200px;
        margin-top: -8px;
      }
    }
  }
}
