<% include ../partials/header %>
<% include ../partials/content-hero %>

<div class="with-bootstrap">
    <div class="container">
        <div class="row content-wrapper pt-5">
            <div class="content-body col-12 col-lg-8 pb-5">
                <%- podstran.vsebina %>

                <h2>PayPal donacije</h2>
                <p>
                    Donirate pa lahko tudi preko storitve <strong>PayPal</strong> z e-naslovom
                    <strong>info@macjahisa.si</strong> ali spodnjih povezav:
                </p>

                <h3>Enkratna donacija</h3>
                <p>
                    Znesek donacije določite sami. Za pričetek postopka izvedbe donacije lahko
                    pritisnete na spodnji gumb ("Donate").
                </p>

                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="3T8VTPP8R7H74">
                    <input type="image" src="/files/donacije/pp1.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                </form>

                <h3>Mesečna donacija</h3>
                <p>
                    Izbran znesek se vsak mesec avtomatsko odtrga z vašega PayPal računa ali kreditne kartice.
                    Mesečno donacijo lahko prekličete v svojem PayPal računu. Za pričetek postopka izvedbe donacije
                    lahko označite želeno mesečno vrednost in pritisnete na spodnji gumb ("Subscribe").
                </p>

                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="WSZMRUHC7P75J">
                    <input type="hidden" name="on0" value="Vrednost donacije">Vrednost donacije
                    <div class="input-group mb-3">
                        <label class="sr-only" for="paypal-select">Options</label>
                        <select class="custom-select" id="paypal-select" name="os0">
                            <option value="Donacija 10">Donacija 10 : €10.00 EUR mesečno</option>
                            <option value="Donacija 20">Donacija 20 : €20.00 EUR mesečno</option>
                            <option value="Donacija 40">Donacija 40 : €40.00 EUR mesečno</option>
                            <option value="Donacija 80">Donacija 80 : €80.00 EUR mesečno</option>
                        </select>
                    </div>
                    <input type="hidden" name="currency_code" value="EUR">
                    <input type="image" src="/files/donacije/pp2.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                </form>
            </div>

            <div class="col-12 col-lg-4 pb-5">
                <% include ../partials/sidebar %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>

