<% include ../partials/header %>
<% include ../partials/nonindex %>

<%- podstran.vsebina %>

<div class="back_to_articles_list">
  <em>
    <a class="back_to_articles_list_link" href="/dobro-je-vedeti/prispevki">
      <i class="fas fa-angle-double-left"></i> Nazaj na seznam Älankov
    </a>
  </em>
</div>

<% include ../partials/sidebar %>
<% include ../partials/footer %>
