<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/images/favicon.ico">
    <title>CMS - Mačja hiša</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/cms.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.3.6/cropper.min.css" integrity="sha256-1tX5fsVcIDX7IzM1u6WaEqyG0T34/10zrlPJIu3kwbY=" crossorigin="anonymous" />
  </head>
  <body>
    <div class="topnav">
      <div>
        <img src="/files/page/logo_notitle.png" />
        <h2>Mačja hiša CMS</h2>
      </div>
      <div>
        <a href="/" target="_blank">
          <h5 style="color:white;">Na domačo stran <i class="fas fa-angle-double-right"></i></h5>
        </a>
      </div>
    </div>

    <div class="sidenav">
      <ul>
        <li><h4 style="margin-top: 10px;">Muce</h4></li>
        <li><a href="/admin/muce/add"><i class="fas fa-plus-circle"></i> Vnesi novo</a></li>
        <li><a href="/admin/muce/iscejo">Iščejo dom</a></li>
        <li><a href="/admin/muce/v-novem-domu">V novem domu</a></li>
        <li><a href="/admin/muce/arhiv">Vse muce v bazi</a></li>
        <% if(currentUser && (currentUser.adminLevel == "admin" || currentUser.adminLevel == "owner" || currentUser.adminLevel == "page_editor")){ %>
        <li><h4>Vsebina</h4></li>
        <li><a href="/admin/podstrani">Podstrani</a></li>
        <li><a href="/admin/clanki">Prispevki / koristno</a></li>
        <li><a href="/admin/izobrazevalne-vsebine">Izobraževalne vsebine</a></li>
        <li><a href="/admin/naslovnice">Naslovnice</a></li>
        <% }; %>
        <% if(currentUser && (currentUser.adminLevel == "admin" || currentUser.adminLevel == "owner")){ %>
        <li><h4>Administracija</h4></li>
        <li><a href="/admin/users">Uporabniki CMSja</a></li>
        <li><a href="/admin/kontakti">Kontakti za posvojitev</a></li>
        <li><a href="/admin/oskrbnice">Oskrbnice</a></li>
        <% }; %>
        <% if(currentUser && currentUser.adminLevel == "owner"){ %>
        <li><a href="/admin/menu">Urejanje menija</a></li>
        <% }; %>
        <li><h4>Račun</h4></li>
        <li><a href="/admin/profil">Uredi osebne podatke</a></li>
        <li><a href="/admin/profil/geslo">Spremeni geslo</a></li>
        <li><a href="/admin/logout">Odjava</a></li>
      </ul>
    </div>
    <div class="main">
      <div class="flash">
          <% if(error && error.length > 0) { %>
          <div class="alert alert-danger" role="alert">
              <%= error %>
          </div>
          <% } %>
          <% if(success && success.length > 0) { %>
          <div class="alert alert-success" role="alert">
              <%= success %>
          </div>
          <% } %>
      </div>
