<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/images/favicon.ico">
    <title>CMS - Mačja hiša</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Montserrat:400,600,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/cms.css" />
  </head>
  <body>
    <div class="topnav">
      <h2>Mačja hiša CMS</h2>
    </div>
    <div class="sidenav">
      <ul>
        <li><h3>Muce</h3></li>
        <li><a href="/admin/muce/add"><i class="fa fa-plus-circle"></i> Vnesi novo</a></li>
        <li><a href="/admin/muce/iscejo">Iščejo dom</a></li>
        <li><a href="/admin/muce/v_novem_domu">V novem domu</a></li>
        <li><a href="/admin/muce/arhiv">Vse muce v bazi</a></li>
        <li><a href="/admin/kontakti">Kontakti za posvojitev</a></li>
        <li><h3>Vsebina</h3></li>
        <li><a href="/admin/novice">Novice</a></li>
        <li><a href="/admin/clanki">Prispevki / koristno</a></li>
        <li><a href="/admin/izobrazevalne_vsebine">Izobraževalne vsebine</a></li>
        <li><h3>Urejanje strani</h3></li>
        <li><a href="/admin/podstrani">Podstrani</a></li>
        <li><a href="/admin/menu">Urejanje menija</a></li>
        <li><a href="#">Odjava</a></li>
      </ul>
    </div>
    <div class="main">
