<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/images/favicon.ico">
    <title>CMS - Mačja hiša</title>
    <link rel="stylesheet" href="/css/cms.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Montserrat:400,600,700&amp;subset=latin-ext" rel="stylesheet">
  </head>
  <body>
    <div class="topnav">
      <h2>Mačja hiša CMS</h2>
    </div>
    <div class="sidenav">
      <ul>
        <li><a href="/admin/muce">Iščejo dom</a></li>
        <li><a href="#">Novice</a></li>
        <li><a href="#">Članki</a></li>
        <li><a href="#">Podstrani</a></li>
        <li><a href="#">Izobraževalne vsebine</a></li>
        <li><a href="#">Urejanje menija</a></li>
        <li><a href="#">Odjava</a></li>
      </ul>
    </div>
    <div class="main">
